openapi: 3.1.0
info:
  title: WAVE Enterprise Streaming Platform API
  description: |
    Complete API reference for WAVE Enterprise Streaming Platform.

    ## Authentication
    All API requests require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    ## Rate Limiting
    API requests are rate limited. When rate limited, you'll receive a 429 response
    with a `Retry-After` header indicating when to retry.

    ## Pagination
    List endpoints support pagination via `page` and `perPage` query parameters.
    Responses include pagination metadata.

    ## Errors
    All errors return the normalized WAVE envelope `{ "error": { "code", "message" } }`,
    optionally enriched with `details`, `suggestions`, `did_you_mean`, and `doc_url`.
  version: 1.1.0
  contact:
    name: WAVE Developer Support
    url: https://wave.online/developers
    email: developers@wave.online
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.wave.online/v1
    description: Production API

security:
  - BearerAuth: []

tags:
  - name: Pricing
    description: Seller-facing pricing tier manifests (pricing-pages).
  - name: Custody
    description: Money-engine held-fund capability operations (operator-plane).
  - name: Engine
    description: The media-engine capability contract.
  - name: Gpu
    description: The WAVE-hosted GPU inference plane.
  - name: Agent Auth
    description: >-
      The OAuth Device Authorization Grant (RFC 8628) ceremony that lets a self-hosted
      agent or CLI act on a user's wallets: the agent requests a device code, the user
      approves once in a browser, then the agent holds tokens and signs with ephemeral
      keys — no app secret ever ships to the agent. These two routes are the
      pre-credential bootstrap (no Bearer token required; that is the point of the
      grant), served as a proxy over Privy's device authorization endpoints.
  - name: Clips
    description: AI-powered highlight detection and clip management
  - name: Voice
    description: Text-to-speech synthesis and voice cloning
  - name: Captions
    description: Auto-captioning and multi-language translation
  - name: Chapters
    description: AI chapter detection and video segmentation
  - name: Editor
    description: Cloud video editing projects
  - name: Phone
    description: VoIP phone lines and call management
  - name: Collab
    description: Real-time collaboration rooms
  - name: Podcast
    description: Podcast show and episode management
  - name: Studio AI
    description: Video enhancement and AI processing
  - name: Transcribe
    description: Speech-to-text transcription
  - name: Sentiment
    description: Sentiment and emotion analysis
  - name: Search
    description: Semantic content search
  - name: Realtime
    description: >-
      Live control & event plane — presence, pub/sub broadcast, and the streaming-event bus the WAVE
      AI products push into. Served at realtime.wave.online (not the api host); subscribe over one
      WebSocket, producers publish over REST. Auth federates to the gateway.
  - name: AV Mux/Demux
    description: >-
      Synchronous container-transform for local IP video + Dante/AES67 audio: mux separate RTP H.264
      video and Dante audio into one sync-locked MPEG-TS or fMP4 stream, and demux the inverse. x402
      metered per minute (`wave_av_minutes`) plus per transform-second (`wave_av_transform_seconds`).
  - name: Braided Audio
    description: >-
      On-demand WAVE Braided Audio publish — mixes multiple named audio sources into one
      MoQ-native braided track (single interleaved multichannel stream, not N independent
      streams). Requires the `moq:write` entitlement. Publishing spins up an on-demand machine;
      the same namespace can be republished (replacing the prior machine) or explicitly stopped.
  - name: MoQ
    description: >-
      Media over QUIC join-token mint — the only HTTP surface of the MoQ product. These two
      endpoints authorize the caller on the api host and return a short-lived signed join-token
      plus the relay URL to connect to; media never transits the API gateway, because the client
      opens the MoQ session DIRECTLY to the relay at moq.wave.online carrying that token. The media
      session itself is not an HTTP surface and is deliberately not modelled in this document: it
      is the IETF Media over QUIC Transport protocol (control + object frames over WebTransport /
      QUIC, with a WebSocket fallback for browsers that cannot open a raw QUIC session). To use it,
      point a MoQ client at `relayWsUrl` and pass the token as the `join` query parameter (browser
      WebSocket clients cannot set request headers) or, server-to-server, as the `x-wave-moq-join`
      request header — SDK clients mint the token; carrying it over the wire is the MoQ client's
      job. DRAFT VERSION: this surface corresponds to draft-ietf-moq-transport-18
      (https://datatracker.ietf.org/doc/draft-ietf-moq-transport/18/), which is what the WAVE relay
      currently speaks (preferred draft-18, negotiating draft-07..draft-18 over ALPN). draft-19 was
      published 2026-07-06 and is NOT yet deployed; adopting it is tracked internally.
      The join-token mint is transport-version independent — a draft bump changes the wire session,
      not this HTTP contract.

  - name: Render
    description: >-
      Code-defined video — render a branded, deterministic MP4 (or alpha ProRes) from a typed
      Brief. Pay-per-render over x402 (no signup); the payment proof is the identity. The same
      Brief renders to the same bytes on any host. Reference renderer is source-available (BSL).
  - name: Identity
    description: >-
      Agent directory — resolve a WAVE agent id to its public channel map (email, credential key
      name, org, channels). Read-only; public-directory data only, never secret material.

  - name: Accessibility Studio
    description: >-
      WAVE accessibility-studio API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: ACP
    description: >-
      WAVE acp API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Acuity
    description: >-
      WAVE acuity API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Aegis
    description: >-
      WAVE aegis API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: AES67
    description: >-
      WAVE aes67 API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Agentic Media
    description: >-
      WAVE agentic-media API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Agents
    description: >-
      WAVE agents API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: AI
    description: >-
      WAVE ai API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Analytics
    description: Account-level usage and engagement analytics.
  - name: Api Gateway
    description: >-
      WAVE api-gateway API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Archive
    description: >-
      WAVE archive API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Argus
    description: >-
      WAVE argus API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Audience Engagement
    description: >-
      WAVE audience-engagement API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Audio Mastering
    description: >-
      WAVE audio-mastering API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Auth
    description: >-
      WAVE auth API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Autopilot
    description: >-
      WAVE autopilot API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Behavioral Intelligence
    description: >-
      WAVE behavioral-intelligence API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Benchmark
    description: >-
      WAVE benchmark API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Billing
    description: Account billing status and usage-based billing detail.
  - name: Bmd
    description: >-
      WAVE bmd API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Bridge
    description: >-
      WAVE bridge API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Broadcast
    description: >-
      WAVE broadcast API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Camera Control
    description: >-
      WAVE camera-control API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Cameras
    description: >-
      Managed PTZ/robotic camera registration and control-command dispatch
      (iris, focus, zoom, white balance, gain, shutter, recording, presets).
  - name: Campus
    description: >-
      WAVE campus API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Challenge
    description: >-
      WAVE challenge API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Ci
    description: >-
      WAVE ci API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Cloud Switcher
    description: >-
      WAVE cloud-switcher API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Companion
    description: >-
      WAVE companion API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Competitive Intel
    description: >-
      WAVE competitive-intel API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Compliance
    description: >-
      WAVE compliance API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Connect
    description: >-
      WAVE connect API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Cookie Consent
    description: >-
      WAVE cookie-consent API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Cost
    description: >-
      WAVE cost API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Creator
    description: >-
      WAVE creator API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Creator Economy
    description: >-
      WAVE creator-economy API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Creator Storefront
    description: >-
      WAVE creator-storefront API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Crest
    description: >-
      WAVE crest API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Cro
    description: >-
      WAVE cro API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Dante
    description: >-
      WAVE dante API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Data Exchange
    description: >-
      WAVE data-exchange API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Decode
    description: >-
      WAVE decode API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Director
    description: >-
      WAVE director API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Discovery
    description: >-
      WAVE discovery API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Dispatch
    description: >-
      WAVE dispatch API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Dmca
    description: >-
      WAVE dmca API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Dsar
    description: >-
      WAVE dsar API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Dub
    description: >-
      WAVE dub API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Echo
    description: >-
      WAVE echo API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Edge
    description: >-
      WAVE edge API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Embeddings
    description: >-
      WAVE embeddings API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Encode
    description: >-
      WAVE encode API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Engagement
    description: >-
      WAVE engagement API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Enhance
    description: >-
      WAVE enhance API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Example
    description: >-
      WAVE example API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Experiments
    description: >-
      WAVE experiments API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Fleet
    description: >-
      WAVE fleet API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Forecast
    description: >-
      WAVE forecast API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Geo
    description: >-
      WAVE geo API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Ghost Producer
    description: >-
      WAVE ghost-producer API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Graphics Engine
    description: >-
      WAVE graphics-engine API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Integrations
    description: >-
      WAVE integrations API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Intel
    description: >-
      WAVE intel API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Listen
    description: >-
      WAVE listen API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Live
    description: >-
      Real-time audio transcription, with an optional fast-LLM step (summarize,
      moderate, translate, or a custom instruction) run over the transcript. Processes
      one provided audio chunk per call — it does not attach a persistent caption feed
      to a live stream.
  - name: Live Annotation
    description: >-
      WAVE live-annotation API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Live Commerce
    description: >-
      WAVE live-commerce API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Local AI
    description: >-
      WAVE local-ai API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Me
    description: >-
      WAVE me API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Memory
    description: >-
      WAVE memory API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Mesh
    description: >-
      WAVE mesh API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Mlvc
    description: >-
      WAVE mlvc API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Mobile Producer
    description: >-
      WAVE mobile-producer API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Moderate
    description: AI-assisted content moderation for chat, comments, and other text surfaces.
  - name: Monetization
    description: >-
      WAVE monetization API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Monitoring
    description: >-
      WAVE monitoring API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: MPP
    description: >-
      WAVE mpp API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Mux
    description: >-
      WAVE mux API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: MXL
    description: >-
      WAVE mxl API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: NDI
    description: >-
      WAVE ndi API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: NVR
    description: >-
      WAVE nvr API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: OMT
    description: >-
      WAVE omt API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Operator
    description: >-
      Gateway-native, operator-authenticated root surfaces (the WAVE service bearer, not a
      tenant API key) — platform-wide telemetry aggregated across every product, not a
      tenant-scoped /v1 resource.
  - name: Ops
    description: >-
      WAVE ops API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Orbit
    description: >-
      WAVE orbit API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Organizations
    description: >-
      WAVE organizations API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Outliers
    description: >-
      WAVE outliers API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Payments
    description: >-
      WAVE payments API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Perception
    description: >-
      WAVE perception API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Pipelines
    description: >-
      WAVE pipelines API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Preferences
    description: >-
      WAVE preferences API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Presence
    description: >-
      WAVE presence API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Privy
    description: >-
      WAVE privy API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Production
    description: >-
      WAVE production API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Production Graph
    description: >-
      WAVE production-graph API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Productions
    description: >-
      Multi-camera production sessions — program/preview camera switching and
      graphics-overlay control for a live production.
  - name: Products
    description: >-
      WAVE products API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Pulse
    description: >-
      WAVE pulse API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: QR System
    description: >-
      WAVE qr-system API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Quality Scorecard
    description: >-
      WAVE quality-scorecard API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Radar
    description: >-
      WAVE radar API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Rate Limit
    description: >-
      WAVE rate-limit API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Recommend
    description: >-
      WAVE recommend API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Remotion
    description: >-
      WAVE remotion API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Renders
    description: >-
      WAVE renders API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Replay
    description: >-
      WAVE replay API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Replay Engine
    description: >-
      WAVE replay-engine API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Review
    description: >-
      WAVE review API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: RIST
    description: >-
      WAVE rist API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Router
    description: >-
      WAVE router API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Routes
    description: >-
      WAVE routes API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Rtmp
    description: >-
      WAVE rtmp API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Runtime
    description: >-
      WAVE runtime API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Sandbox
    description: >-
      WAVE sandbox API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Scene
    description: >-
      WAVE scene API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Signal
    description: >-
      WAVE signal API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Signal Generator
    description: >-
      WAVE signal-generator API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Signal Verifier
    description: >-
      WAVE signal-verifier API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Slides To Video
    description: >-
      WAVE slides-to-video API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Social Distribution
    description: >-
      WAVE social-distribution API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Sports Data
    description: >-
      WAVE sports-data API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: SRT
    description: >-
      WAVE srt API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: ST2110
    description: >-
      WAVE st2110 API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Stream
    description: >-
      WAVE stream API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Stream Router
    description: >-
      WAVE stream-router API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Streamdeck
    description: >-
      WAVE streamdeck API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Streaming
    description: >-
      WAVE streaming API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Streams
    description: >-
      Live stream lifecycle — create a stream, start/stop it, read its status and
      per-stream analytics, and mark highlight moments for later clipping.
  - name: Studio
    description: >-
      WAVE studio API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Studio Automation
    description: >-
      WAVE studio-automation API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Switcher
    description: >-
      WAVE switcher API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Tempo
    description: >-
      WAVE tempo API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Transcode
    description: >-
      WAVE transcode API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Twilio
    description: >-
      WAVE twilio API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Unsubscribe
    description: >-
      WAVE unsubscribe API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Usage
    description: >-
      Raw per-dimension usage totals from the underlying meter ledger — see Billing
      for the billed-and-priced view.
  - name: USB Relay
    description: >-
      WAVE usb-relay API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Vault
    description: >-
      WAVE vault API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Video Gen
    description: >-
      WAVE video-gen API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Viewer
    description: >-
      WAVE viewer API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Virtual Studio
    description: >-
      WAVE virtual-studio API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Vision
    description: >-
      WAVE vision API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Visual Programming
    description: >-
      WAVE visual-programming API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Visual Qa
    description: >-
      WAVE visual-qa API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: VOD
    description: >-
      WAVE vod API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Volumetric
    description: >-
      WAVE volumetric API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Wave Console
    description: >-
      WAVE wave-console API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Wave Node
    description: >-
      WAVE wave-node API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Wave SDK
    description: >-
      WAVE wave-sdk API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Wave Tokens
    description: >-
      WAVE wave-tokens API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Webrtc
    description: >-
      WAVE webrtc API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Whep
    description: >-
      WAVE whep API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Whip
    description: >-
      WAVE whip API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Workflow Engine
    description: >-
      WAVE workflow-engine API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: X402
    description: >-
      WAVE x402 API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Zero Trust Vault
    description: >-
      WAVE zero-trust-vault API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Zoom
    description: >-
      WAVE zoom API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
  - name: Zoom Integration
    description: >-
      WAVE zoom-integration API — priced capability surface documented from the live gateway
      skills index; the request/response shape is not yet published (draft).
paths:
  /agent/auth/device:
    post:
      operationId: agentAuthDevice
      tags: [Agent Auth]
      security: []
      summary: Start the OAuth Device Authorization ceremony (RFC 8628)
      description: |
        The agent-auth bootstrap: an agent with no WAVE credential yet requests a device
        code, then a human approves wallet access in a browser once. Proxies Privy's
        device authorization endpoint; the app secret never reaches the agent, and every
        later wallet operation uses short-lived tokens plus an ephemeral signing key.

        The response carries `device_code` (secret, poll with it), `user_code` (short,
        human-readable), `verification_uri` (the approve URL), `verification_uri_complete`
        (the same URL with the user code prefilled - a page at `/agent/auth/verify` on the
        api host, no /v1 prefix), `expires_in` (seconds, 600), and `interval` (poll
        interval seconds, 5).

        A 403 means device authorization is not enabled for the app in the Privy
        dashboard - an operator action, not a caller error.
      responses:
        "200":
          description: The device grant (codes, verification URI, expiry, poll interval)
          content:
            application/json:
              schema:
                type: object
                required: [device_code, user_code, verification_uri, verification_uri_complete, expires_in, interval]
                properties:
                  device_code:
                    type: string
                  user_code:
                    type: string
                  verification_uri:
                    type: string
                    format: uri
                    description: The approve URL the human opens
                  verification_uri_complete:
                    type: string
                    format: uri
                    description: The same URL with the user code prefilled
                  expires_in:
                    type: integer
                    description: Seconds until the device code expires (600)
                  interval:
                    type: integer
                    description: Poll interval in seconds (5)
        "403":
          description: Device authorization not enabled for the app (dashboard toggle)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "502":
          description: Upstream auth endpoint unreachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Ceremony not configured on this deployment (no app id)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /agent/auth/token:
    post:
      operationId: agentAuthToken
      tags: [Agent Auth]
      security: []
      summary: Poll for / refresh the ceremony tokens
      description: |
        Two grants, whitelisted exactly:
        `device_code` - poll with the device_code from the device endpoint at the given
        interval, with grant_type `urn:ietf:params:oauth:grant-type:device_code` (the
        registered RFC 8628 URN Privy's live token endpoint requires; bare `device_code`
        is also accepted at this seam). While approval is pending the upstream 400 body
        passes through verbatim (`authorization_pending`, `slow_down`, `expired_token`,
        `access_denied`) - these are the polling protocol, not failures to hide. On
        approval the response carries `access_token` and `refresh_token`.
        `refresh_token` - exchange a refresh token for a new access token; the old refresh
        token is invalidated immediately and a REPLACEMENT refresh_token is returned in
        the same response, so a client that stores it never loses its refresh credential.
        An absent refresh_token in a refresh response means the grant was revoked
        (or the token expired): restart the ceremony from the device endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: DeviceCodeGrant
                  description: Poll for tokens while approval is pending (grant_type=device_code)
                  type: object
                  required: [grant_type, device_code]
                  additionalProperties: false
                  properties:
                    grant_type:
                      type: string
                      enum: [urn:ietf:params:oauth:grant-type:device_code, device_code]
                      description: >-
                        The registered RFC 8628 URN (canonical, what the upstream token
                        endpoint requires) or the bare shorthand (accepted at this seam
                        and canonicalized to the URN before forwarding)
                    device_code:
                      type: string
                      description: >-
                        The `device_code` value returned by POST /agent/auth/device.
                        Poll with it at the interval that response named until approval
                        completes, expires, or is denied.
                - title: RefreshTokenGrant
                  description: Exchange a refresh token for a new access token (grant_type=refresh_token)
                  type: object
                  required: [grant_type, refresh_token]
                  additionalProperties: false
                  properties:
                    grant_type:
                      type: string
                      enum: [refresh_token]
                    refresh_token:
                      type: string
      responses:
        "200":
          description: >-
            Tokens. First approval returns access_token plus the initial refresh_token;
            a refresh exchange returns access_token plus a REPLACEMENT refresh_token
            (the old one is invalidated by the same call). An absent refresh_token
            signals revocation: restart the ceremony.
          content:
            application/json:
              schema:
                type: object
                required: [access_token]
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                    description: >-
                      Present on first approval and on every refresh exchange (rotation);
                      absent only when the grant is revoked or expired
        "400":
          description: >-
            Invalid grant_type or a missing credential for the grant returns the WAVE error
            envelope. A device_code that is not yet approved, not yet due for another poll, or no
            longer valid returns the RFC 8628 §3.5 device-flow error passed through verbatim, one
            of `authorization_pending` (not yet approved, keep polling), `slow_down` (poll less
            often), `expired_token` (the device_code expired, restart at /agent/auth/device),
            `access_denied` (the human declined), or `invalid_grant`.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error"
                  - $ref: "#/components/schemas/DeviceFlowError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "502":
          description: Upstream auth endpoint unreachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Ceremony not configured on this deployment (no app id)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /batch:
    post:
      operationId: batchOperations
      tags: [Batch]
      summary: Execute a batch of operations in one request
      description: |
        Bulk operations through the same pipeline: each operation is a method + /v1 path + optional body,
        executed with the caller's own credential (the same auth, scope, meter, and payment enforcement
        as an HTTP call - no bypass). Max 25 operations; each result carries its own status and body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [operations]
              properties:
                operations:
                  type: array
                  minItems: 1
                  maxItems: 25
                  items:
                    type: object
                    required: [method, path]
                    properties:
                      method:
                        type: string
                        enum: [GET, HEAD, POST, PUT, PATCH, DELETE]
                      path:
                        type: string
                        description: An enforced /v1 route
                      body:
                        description: The operation's JSON body (mutating methods only)
      responses:
        "200":
          description: Per-operation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  operations:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        ok:
                          type: boolean
                        status:
                          type: integer
                        body:
                          description: The operation's response body
        "400":
          description: Invalid batch (operations[] required, 25-op cap)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limited (RFC RateLimit headers on the response)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  # Render API
  /render:
    post:
      tags: [Render]
      summary: Render a video from a Brief (x402-payable)
      operationId: renderVideo
      description: >-
        POST a typed Brief. Unpaid → 402 with a `WWW-Authenticate` x402 challenge; pay and retry.
        A bad brief → 400 before any charge. Paid → 200: the binary `video/mp4` by default, or a
        RenderResult envelope when you send `Accept: application/json` (always for 4K / alpha,
        delivered via a signed, expiring URL). Deterministic within a renderer version; `sha256`
        is the determinism receipt (also on the `x-wave-sha256` header).
      security: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
          description: A replayed key returns the original result without re-charging.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenderBrief'
      responses:
        '200':
          description: The rendered video — binary, or a RenderResult envelope under Accept application/json.
          content:
            video/mp4:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/RenderResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '402':
          description: Payment required — pay the x402 challenge and retry.
          headers:
            WWW-Authenticate:
              schema:
                type: string
              description: The x402 challenge, including the quoted price.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Output too large to return inline and no hosted delivery configured (OUTPUT_TOO_LARGE).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '451':
          description: Content is on the operator deny/takedown list and will not be rendered (CONTENT_BLOCKED).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /render/{jobId}:
    get:
      tags: [Render]
      summary: Poll an async render job
      operationId: renderPoll
      description: >-
        Fetch the current state of a render started asynchronously. Terminal states carry the
        delivery URL and the determinism receipt; poll until `status` is `done` or `error`.
        Prefer `/render/{jobId}/events` when you can hold a connection — it delivers the same
        frames without a polling loop.
      security: []
      parameters:
        - $ref: '#/components/parameters/RenderJobIdParam'
      responses:
        '200':
          description: The job view.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderJobView'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          description: >-
            Job status temporarily unavailable — the job store did not answer. This is
            retryable and does NOT mean the job failed; back off and poll again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /render/{jobId}/events:
    get:
      tags: [Render]
      summary: Subscribe to an async render job (SSE)
      operationId: renderEvents
      description: >-
        Server-Sent Events stream of `RenderJobView` frames for a render job. One frame per state
        transition; the stream closes once the job reaches a terminal state (`done` or `error`).
        The final frame is identical to what `GET /render/{jobId}` would return at that moment.
      security: []
      parameters:
        - $ref: '#/components/parameters/RenderJobIdParam'
      responses:
        '200':
          description: SSE stream of RenderJobView frames.
          content:
            text/event-stream:
              schema:
                type: string
                description: >-
                  An SSE stream. Each `data:` line is a JSON-encoded `RenderJobView`.
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  # Clips API
  # Streams — live stream lifecycle (MCP-18 contract rows 1-7)
  /streams:
    get:
      tags: [Streams]
      summary: List streams
      description: >-
        List the caller's streams, newest first. Requires the `streams:read` scope.
      operationId: listStreams
      parameters:
        - name: limit
          in: query
          description: Maximum number of streams to return.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: status
          in: query
          description: Filter by stream status.
          schema:
            type: string
            enum: [idle, live, ended]
      responses:
        '200':
          description: Paginated list of streams
          content:
            application/json:
              schema:
                type: object
                required: [streams, total, limit, offset]
                properties:
                  streams:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stream'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Streams]
      summary: Create a stream
      description: >-
        Create a stream. Provisions a Cloudflare Stream live input and returns its
        ingest/playback URLs. Requires the `streams:write` scope.
      operationId: createStream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStreamRequest'
      responses:
        '201':
          description: Stream created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'

  /streams/{streamId}:
    get:
      tags: [Streams]
      summary: Get a stream
      description: Requires the `streams:read` scope.
      operationId: getStream
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      responses:
        '200':
          description: Stream details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /streams/{streamId}/start:
    post:
      tags: [Streams]
      summary: Start a stream
      description: >-
        Transition a stream to `live` and open a stream session. Requires the
        `streams:write` scope.
      operationId: startStream
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      responses:
        '200':
          description: Stream started
          content:
            application/json:
              schema:
                type: object
                properties:
                  stream_id:
                    type: string
                  session_id:
                    type: string
                  status:
                    type: string
                    enum: [live]
                  ingest_url:
                    type: [string, 'null']
                  started_at:
                    type: string
                    format: date-time
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Stream is already live.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /streams/{streamId}/stop:
    post:
      tags: [Streams]
      summary: Stop a stream
      description: >-
        Close the active stream session and transition the stream to `ended`.
        Requires the `streams:write` scope.
      operationId: stopStream
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      responses:
        '200':
          description: Stream stopped
          content:
            application/json:
              schema:
                type: object
                properties:
                  stream_id:
                    type: string
                  session_id:
                    type: string
                  status:
                    type: string
                    enum: [ended]
                  ended_at:
                    type: string
                    format: date-time
                  duration_minutes:
                    type: number
                  viewer_count_peak:
                    type: integer
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Stream is not currently live.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /streams/{streamId}/status:
    get:
      tags: [Streams]
      summary: Get a stream's status
      description: >-
        Lightweight status document (connection state, current viewer count).
        Requires the `streams:read` scope.
      operationId: getStreamStatus
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      responses:
        '200':
          description: Stream status
          content:
            application/json:
              schema:
                type: object
                properties:
                  stream_id:
                    type: string
                  status:
                    type: string
                    enum: [idle, live, ended]
                  current_viewers:
                    type: integer
                  protocol_active:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /streams/{streamId}/analytics:
    get:
      tags: [Streams]
      summary: Get a stream's analytics
      description: >-
        Aggregated viewer/quality metrics for one stream's sessions. Requires the
        `streams:read` scope.
      operationId: getStreamAnalytics
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
        - name: from
          in: query
          description: Range start (ISO 8601 timestamp).
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Range end (ISO 8601 timestamp).
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Stream analytics
          content:
            application/json:
              schema:
                type: object
                properties:
                  stream_id:
                    type: string
                  metrics:
                    type: object
                    properties:
                      peak_concurrent_viewers:
                        type: integer
                      sample_count:
                        type: integer
                      avg_quality_score:
                        type: [number, 'null']
                  timeseries:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        viewer_count:
                          type: integer
                        quality_score:
                          type: [number, 'null']
                        latency_ms:
                          type: [number, 'null']
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /streams/{streamId}/highlights:
    get:
      tags: [Streams]
      summary: List a stream's highlights
      description: Requires the `streams:read` scope.
      operationId: listStreamHighlights
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Paginated list of highlights
          content:
            application/json:
              schema:
                type: object
                properties:
                  highlights:
                    type: array
                    items:
                      $ref: '#/components/schemas/Highlight'
                  stream_id:
                    type: string
                  limit:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      tags: [Streams]
      summary: Mark a highlight
      description: >-
        Mark a moment in a stream as a highlight for later clipping. Requires the
        `streams:write` scope.
      operationId: markStreamHighlight
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 255
                timestamp:
                  type: string
                  format: date-time
                  description: Defaults to now.
                confidence:
                  type: number
                  minimum: 0
                  maximum: 1
                duration_seconds:
                  type: number
                  minimum: 0
      responses:
        '201':
          description: Highlight marked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Highlight'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # Moderation
  /moderate:
    post:
      tags: [Moderate]
      summary: Moderate content
      description: >-
        Run AI-assisted moderation over a piece of text content (a chat message,
        title, description, comment, username, or bio) and get back an allow/flag/
        block/review verdict. Requires the `moderate:write` scope. To moderate a chat
        message, set `contentType` to `chat` and, optionally, `context.streamId` to
        the stream the message belongs to — this endpoint moderates arbitrary text
        content; it does not itself track a chat message id or apply an action to a
        stored message.
      operationId: moderateContent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerateRequest'
      responses:
        '200':
          description: Moderation verdict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'

  # Live Pipeline
  /live/pipeline:
    post:
      tags: [Live]
      summary: Transcribe an audio clip and run a fast-LLM step over it
      description: >-
        Transcribes ONE provided audio chunk (multipart `file`, max 25MB) and,
        given `llm_model`, optionally runs a fast-LLM step (`mode`: summarize,
        moderate, translate, or custom) over the transcript. This does NOT attach a
        persistent caption feed to a live stream — call it once per audio chunk.
        Requires the account's live-pipeline feature to be armed; a 404 means it is
        not enabled for this account. Requires the `captions:write` scope.
      operationId: startLivePipeline
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, llm_model]
              properties:
                file:
                  type: string
                  format: binary
                  description: Audio bytes to transcribe.
                stream_id:
                  type: string
                  maxLength: 128
                  pattern: '^[A-Za-z0-9._:-]{1,128}$'
                  description: >-
                    Client-chosen correlation id (letters, digits, `. _ : -`, 1-128
                    chars), echoed back for per-stream correlation.
                language:
                  type: string
                  description: ISO 639 language hint (transcribe task only).
                task:
                  type: string
                  enum: [transcribe, translate]
                  default: transcribe
                model:
                  type: string
                  enum: [whisper-large-v3-turbo, whisper-large-v3]
                  description: Default whisper-large-v3-turbo; translate forces whisper-large-v3.
                mode:
                  type: string
                  enum: [summarize, moderate, translate, custom]
                  default: summarize
                instruction:
                  type: string
                  maxLength: 500
                  description: Custom instruction, used when mode=custom.
                llm_model:
                  type: string
                  description: Fast LLM model id to run the pipeline step.
                max_tokens:
                  type: integer
                  minimum: 1
                  maximum: 4096
                  default: 256
      responses:
        '200':
          description: Transcript plus the LLM step's output
          content:
            application/json:
              schema:
                type: object
                properties:
                  transcript:
                    type: string
                  duration:
                    type: number
                  llm:
                    type: object
                    properties:
                      mode:
                        type: string
                      model:
                        type: string
                      output:
                        type: string
                      usage:
                        type: object
                        properties:
                          prompt_tokens:
                            type: integer
                          completion_tokens:
                            type: integer
                  stream_id:
                    type: string
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: The live-pipeline feature is not armed for this account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          description: Transcription is temporarily unavailable — retry after the given delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /live/caption:
    post:
      tags: [Live]
      summary: Transcribe an audio clip
      description: >-
        Transcribes ONE provided audio chunk (multipart `file`, max 25MB) via the
        same caption engine `/live/pipeline` uses, without the LLM step. Requires
        the account's live-pipeline feature to be armed; a 404 means it is not
        enabled for this account. Requires the `captions:write` scope.
      operationId: transcribeLiveAudio
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                stream_id:
                  type: string
                  maxLength: 128
                  pattern: '^[A-Za-z0-9._:-]{1,128}$'
                  description: >-
                    Client-chosen correlation id (letters, digits, `. _ : -`, 1-128
                    chars), echoed back for per-stream correlation.
                language:
                  type: string
                task:
                  type: string
                  enum: [transcribe, translate]
                  default: transcribe
                model:
                  type: string
                  enum: [whisper-large-v3-turbo, whisper-large-v3]
                response_format:
                  type: string
                  enum: [verbose_json, json, text]
                  default: verbose_json
                format:
                  type: string
                  enum: [json, vtt, srt, scc, text]
                  default: json
                  description: Output shape. Non-json returns a serialized caption file body.
                t0:
                  type: number
                  description: Windowed-mode start offset (seconds) on the stream timeline.
                seq:
                  type: integer
                  description: Windowed-mode window index, echoed back for ordering.
      responses:
        '200':
          description: Transcription result (JSON, or a serialized caption file when `format` != json)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: >-
                  Relays the transcription engine's JSON (text, segments, language,
                  duration) verbatim, plus `stream_id`/`window` when supplied.
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: The live-pipeline feature is not armed for this account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          description: Transcription is temporarily unavailable — retry after the given delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Productions
  /productions:
    get:
      tags: [Productions]
      summary: List productions
      description: Requires the `productions:read` scope.
      operationId: listProductions
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: status
          in: query
          schema:
            type: string
            enum: [setup, rehearsal, live, paused, ended]
      responses:
        '200':
          description: Paginated list of productions
          content:
            application/json:
              schema:
                type: object
                properties:
                  productions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Production'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Productions]
      summary: Create a production
      description: Requires the `productions:write` scope.
      operationId: createProduction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductionRequest'
      responses:
        '201':
          description: Production created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Production'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'

  /productions/{productionId}:
    get:
      tags: [Productions]
      summary: Get a production
      description: Requires the `productions:read` scope.
      operationId: getProduction
      parameters:
        - $ref: '#/components/parameters/ProductionIdParam'
      responses:
        '200':
          description: Production details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Production'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /productions/{productionId}/camera:
    post:
      tags: [Productions]
      summary: Switch a production's camera
      description: >-
        Switch the program or preview bus to a camera index; persisted on the
        production row. Requires the `productions:write` scope.
      operationId: switchProductionCamera
      parameters:
        - $ref: '#/components/parameters/ProductionIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchCameraRequest'
      responses:
        '200':
          description: Camera switched
          content:
            application/json:
              schema:
                type: object
                properties:
                  productionId:
                    type: string
                  bus:
                    type: string
                    enum: [program, preview]
                  cameraIndex:
                    type: integer
                  transition:
                    type: string
                    enum: [cut, dissolve, wipe, fade]
                  switchedAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /productions/{productionId}/overlay:
    post:
      tags: [Productions]
      summary: Show, hide, or update a production's graphic overlay
      description: >-
        Persists overlay state into the production's `overlays` map, keyed by
        `graphic_id`. Requires the `productions:write` scope.
      operationId: setProductionOverlay
      parameters:
        - $ref: '#/components/parameters/ProductionIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [graphic_id, action]
              properties:
                graphic_id:
                  type: string
                  minLength: 1
                  maxLength: 100
                action:
                  type: string
                  enum: [show, hide, update]
                data:
                  type: object
                  additionalProperties: true
                  description: Data bindings for the graphic template.
      responses:
        '200':
          description: Overlay state updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  productionId:
                    type: string
                  graphicId:
                    type: string
                  action:
                    type: string
                    enum: [show, hide, update]
                  data:
                    type: [object, 'null']
                    additionalProperties: true
                  updatedAt:
                    type: string
                    format: date-time
                  overlays:
                    type: object
                    additionalProperties: true
                    description: The production's full overlay map after this update.
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # Cameras
  /cameras:
    get:
      tags: [Cameras]
      summary: List registered cameras
      description: Requires the `cameras:read` scope.
      operationId: listCameras
      responses:
        '200':
          description: List of registered cameras
          content:
            application/json:
              schema:
                type: object
                properties:
                  cameras:
                    type: array
                    items:
                      $ref: '#/components/schemas/Camera'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Cameras]
      summary: Register a camera
      description: Requires the `cameras:write` scope.
      operationId: registerCamera
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCameraRequest'
      responses:
        '201':
          description: Camera registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'

  /cameras/{cameraId}/control:
    post:
      tags: [Cameras]
      summary: Send a control command to a camera
      description: >-
        Queues a control command for a registered camera (`camera_commands`, status
        `queued`). There is no protocol-general hardware dispatcher at this layer
        yet — a follow-up dispatcher marks the command `acked` or `failed`; this
        call never fabricates an `acked` status for a command not yet delivered.
        Requires the `cameras:write` scope.
      operationId: controlCamera
      parameters:
        - $ref: '#/components/parameters/CameraIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ControlCameraRequest'
      responses:
        '200':
          description: Command queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  cameraId:
                    type: string
                  commandId:
                    type: string
                  command:
                    $ref: '#/components/schemas/ControlCameraRequest'
                  status:
                    type: string
                    enum: [queued, acked, failed]
        '400':
          description: Invalid or unrecognized control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # Billing
  /billing:
    get:
      tags: [Billing]
      summary: Get the current billing account
      description: >-
        Returns the caller-org's billing status. An org with no Stripe customer yet
        returns `billingAccount: null` and `plan: "free"` rather than an error.
        Requires the `billing:read` scope.
      operationId: getBilling
      responses:
        '200':
          description: Billing account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'

  /billing/usage:
    get:
      tags: [Billing]
      summary: Get billed usage for a date range
      description: >-
        Per-dimension billed usage, defaulting to the current billing period.
        Requires the `billing:read` scope.
      operationId: getBillingUsage
      parameters:
        - name: from
          in: query
          description: Range start (YYYY-MM-DD). Defaults to the start of the current month.
          schema:
            type: string
            format: date
        - name: to
          in: query
          description: Range end (YYYY-MM-DD). Defaults to today.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Billed usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingUsageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Billing usage is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /usage:
    get:
      tags: [Billing]
      summary: Get raw per-dimension usage
      description: >-
        Raw per-dimension usage counters for a date range (defaults to today),
        keyed by meter dimension (e.g. `wave_braid_minutes`, `transcription_seconds`,
        `duration_ms:srt`) — the underlying meter ledger, not a billing-period
        rollup. See `GET /billing/usage` for the billed-and-priced view. Requires
        the `usage:read` scope.
      operationId: getUsage
      parameters:
        - name: from
          in: query
          description: Range start (YYYYMMDD). Defaults to today.
          schema:
            type: string
        - name: to
          in: query
          description: Range end (YYYYMMDD). Defaults to today.
          schema:
            type: string
      responses:
        '200':
          description: Raw usage totals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'

  # Gateway-native root surfaces — NOT /v1 operations. Each carries its own `servers` override to
  # https://api.wave.online (no /v1 prefix) because the gateway serves these at the host root, now
  # operator/tenant-authenticated. Both were previously exempted in published-drift-allowlist.json
  # as undocumented-live while unauthenticated; that exemption's own justification names this the
  # intended remedy once each operation gained a security requirement.
  /leaderboard:
    get:
      tags: [Usage]
      summary: Your org's usage leaderboard (meters ranked by consumption) — API key + usage:read
      description: >-
        Tenant-scoped: rows are the calling org's own metered dimensions, ranked by billed usage
        over the window (`from`/`to` as YYYYMMDD, default trailing 7 days). The org is taken from
        the API key, never from the query string. Unauthenticated callers receive 401
        LEADERBOARD_AUTH_REQUIRED. The PUBLIC model-eval leaderboard is a different surface at
        https://leaderboard.wave.online/leaderboard (no key needed).
      operationId: getUsageLeaderboard
      servers:
        - url: https://api.wave.online
      security:
        - bearerWithScopes: [usage:read]
      externalDocs:
        description: Public model-eval leaderboard (measured rows only)
        url: https://leaderboard.wave.online/leaderboard
      responses:
        '200':
          description: '{ org, window:{from,to,days}, ranking:[{rank, meter, unit, used}] } — private, no-store'
        '401':
          description: LEADERBOARD_AUTH_REQUIRED — no or invalid API key; body names the public board's URL
        '403':
          description: SCOPE_DENIED — key lacks usage:read

  /platform:
    get:
      tags: [Operator]
      summary: Platform-wide live usage — OPERATOR ONLY (inference + voice + codec + storage + realtime + clips + captions)
      description: >-
        Operator-authenticated. Requires the WAVE service bearer; unauthenticated callers receive
        401 TELEMETRY_AUTH_REQUIRED.
      operationId: getPlatformUsage
      servers:
        - url: https://api.wave.online
      security:
        - bearerWithScopes: []
      responses:
        '200':
          description: Every product's live usage, grounded-only
        '401':
          description: 'Operator authentication required: {"error":{"code":"TELEMETRY_AUTH_REQUIRED"}}'

  # Analytics
  /analytics/overview:
    get:
      tags: [Analytics]
      summary: Get an account-level analytics overview
      description: >-
        Aggregates the org's usage ledger over a date range: total events, total
        quantity, active days, and the top dimensions by quantity. Requires the
        `analytics:read` scope.
      operationId: getAnalyticsOverview
      parameters:
        - $ref: '#/components/parameters/AnalyticsFromParam'
        - $ref: '#/components/parameters/AnalyticsToParam'
      responses:
        '200':
          description: Analytics overview
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizationId:
                    type: string
                  period:
                    $ref: '#/components/schemas/DateRange'
                  summary:
                    type: object
                    properties:
                      totalEvents:
                        type: integer
                      totalQuantity:
                        type: number
                      activeDays:
                        type: integer
                      topDimensions:
                        type: array
                        items:
                          type: object
                          properties:
                            dimension:
                              type: string
                            quantity:
                              type: number
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Analytics are temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /analytics/top-content:
    get:
      tags: [Analytics]
      summary: Get top content by usage
      description: >-
        Top usage dimensions for the org over a date range, ranked by quantity.
        Requires the `analytics:read` scope.
      operationId: getAnalyticsTopContent
      parameters:
        - $ref: '#/components/parameters/AnalyticsFromParam'
        - $ref: '#/components/parameters/AnalyticsToParam'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Top content by usage
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizationId:
                    type: string
                  period:
                    $ref: '#/components/schemas/DateRange'
                  topContent:
                    type: array
                    items:
                      type: object
                      properties:
                        rank:
                          type: integer
                        dimension:
                          type: string
                        quantity:
                          type: number
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Analytics are temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /analytics/engagement:
    get:
      tags: [Analytics]
      summary: Get account-wide engagement analytics
      description: >-
        Engagement metrics (event volume, average events per day, peak day) over a
        date range. Requires the `analytics:read` scope.
      operationId: getAnalyticsEngagement
      parameters:
        - $ref: '#/components/parameters/AnalyticsFromParam'
        - $ref: '#/components/parameters/AnalyticsToParam'
      responses:
        '200':
          description: Engagement analytics
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizationId:
                    type: string
                  period:
                    $ref: '#/components/schemas/DateRange'
                  engagement:
                    type: object
                    properties:
                      totalEvents:
                        type: integer
                      totalQuantity:
                        type: number
                      averageEventsPerDay:
                        type: number
                      peakDay:
                        type: [string, 'null']
                      peakEvents:
                        type: integer
                      activeDays:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Analytics are temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /clips:
    get:
      tags: [Clips]
      summary: List clips
      operationId: listClips
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: videoId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of clips
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Clip'
    post:
      tags: [Clips]
      summary: Create a clip
      description: >-
        Produces clip/spritesheet/audio/frame outputs from a recording via
        Cloudflare Media Transformations. `source` is a recording id the gateway
        resolves org-scoped — a raw storage key is rejected. Requires the
        `clips:write` scope.
      operationId: createClip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipCreate'
      responses:
        '201':
          description: Clip created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClipCreateResponse'
        '400':
          description: Validation error (the clip route's own envelope, not the shared Error schema).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClipError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'

  /clips/{clipId}:
    get:
      tags: [Clips]
      summary: Get a clip
      operationId: getClip
      parameters:
        - name: clipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Clip details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clip'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      tags: [Clips]
      summary: Update a clip
      operationId: updateClip
      parameters:
        - name: clipId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipUpdate'
      responses:
        '200':
          description: Clip updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clip'
    delete:
      tags: [Clips]
      summary: Delete a clip
      operationId: deleteClip
      parameters:
        - name: clipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Clip deleted

  /clips/detect:
    post:
      tags: [Clips]
      summary: Start AI clip detection
      operationId: detectClips
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipDetectRequest'
      responses:
        '202':
          description: Detection job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionJob'

  # Voice API
  /voice/voices:
    get:
      tags: [Voice]
      summary: List available voices
      operationId: listVoices
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [premade, cloned, professional]
        - name: language
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of voices
          content:
            application/json:
              schema:
                type: object
                properties:
                  voices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voice'

  /voice/generate:
    post:
      tags: [Voice]
      summary: Generate speech from text
[...]
