openapi: 3.1.0
info:
  title: WAVE Enterprise Streaming Platform API
  description: |
    Complete API reference for WAVE Enterprise Streaming Platform.

    ## Authentication
    All API requests require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    ## Rate Limiting
    API requests are rate limited. When rate limited, you'll receive a 429 response
    with a `Retry-After` header indicating when to retry.

    ## Pagination
    List endpoints support pagination via `page` and `perPage` query parameters.
    Responses include pagination metadata.

    ## Errors
    All errors return the normalized WAVE envelope `{ "error": { "code", "message" } }`,
    optionally enriched with `details`, `suggestions`, `did_you_mean`, and `doc_url`.
  version: 1.0.0
  contact:
    name: WAVE Developer Support
    url: https://wave.online/developers
    email: developers@wave.online
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.wave.online/v1
    description: Production API

security:
  - BearerAuth: []

tags:
  - name: Clips
    description: AI-powered highlight detection and clip management
  - name: Voice
    description: Text-to-speech synthesis and voice cloning
  - name: Captions
    description: Auto-captioning and multi-language translation
  - name: Chapters
    description: AI chapter detection and video segmentation
  - name: Editor
    description: Cloud video editing projects
  - name: Phone
    description: VoIP phone lines and call management
  - name: Collab
    description: Real-time collaboration rooms
  - name: Podcast
    description: Podcast show and episode management
  - name: Studio AI
    description: Video enhancement and AI processing
  - name: Transcribe
    description: Speech-to-text transcription
  - name: Sentiment
    description: Sentiment and emotion analysis
  - name: Search
    description: Semantic content search
  - name: Realtime
    description: >-
      Live control & event plane — presence, pub/sub broadcast, and the streaming-event bus the WAVE
      AI products push into. Served at realtime.wave.online (not the api host); subscribe over one
      WebSocket, producers publish over REST. Auth federates to the gateway.

paths:
  # Clips API
  /clips:
    get:
      tags: [Clips]
      summary: List clips
      operationId: listClips
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: videoId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of clips
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Clip'
    post:
      tags: [Clips]
      summary: Create a clip
      operationId: createClip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipCreate'
      responses:
        '201':
          description: Clip created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clip'
        '400':
          $ref: '#/components/responses/ValidationError'

  /clips/{clipId}:
    get:
      tags: [Clips]
      summary: Get a clip
      operationId: getClip
      parameters:
        - name: clipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Clip details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clip'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      tags: [Clips]
      summary: Update a clip
      operationId: updateClip
      parameters:
        - name: clipId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipUpdate'
      responses:
        '200':
          description: Clip updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clip'
    delete:
      tags: [Clips]
      summary: Delete a clip
      operationId: deleteClip
      parameters:
        - name: clipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Clip deleted

  /clips/detect:
    post:
      tags: [Clips]
      summary: Start AI clip detection
      operationId: detectClips
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipDetectRequest'
      responses:
        '202':
          description: Detection job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionJob'

  # Voice API
  /voice/voices:
    get:
      tags: [Voice]
      summary: List available voices
      operationId: listVoices
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [premade, cloned, professional]
        - name: language
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of voices
          content:
            application/json:
              schema:
                type: object
                properties:
                  voices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voice'

  /voice/generate:
    post:
      tags: [Voice]
      summary: Generate speech from text
      operationId: generateSpeech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceGenerateRequest'
      responses:
        '200':
          description: >
            Speech generated. The gateway returns one of three shapes depending on
            the engine path: an inline JSON payload with base64 audio + character
            `alignment` (single round-trip, carries word timestamps), an async job
            to poll, or raw audio bytes when timestamps were not requested.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/VoiceSynthesisInline'
                  - $ref: '#/components/schemas/VoiceGeneration'
            audio/mpeg:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '502':
          $ref: '#/components/responses/UpstreamError'

  /voice/clone:
    post:
      tags: [Voice]
      summary: Clone a voice from audio samples
      operationId: cloneVoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceCloneRequest'
      responses:
        '201':
          description: Voice cloned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'

  # Captions API
  /captions:
    get:
      tags: [Captions]
      summary: List caption jobs
      operationId: listCaptions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: videoId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
      responses:
        '200':
          description: Paginated list of caption jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CaptionJob'
    post:
      tags: [Captions]
      summary: Create a caption job
      operationId: createCaptionJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptionJobCreate'
      responses:
        '201':
          description: Caption job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptionJob'

  /captions/{jobId}:
    get:
      tags: [Captions]
      summary: Get a caption job
      operationId: getCaptionJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Caption job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptionJob'
    delete:
      tags: [Captions]
      summary: Delete a caption job
      operationId: deleteCaptionJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Caption job deleted

  /captions/{jobId}/download:
    get:
      tags: [Captions]
      summary: Download captions
      operationId: downloadCaptions
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: query
          required: true
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum: [srt, vtt, txt, json]
            default: srt
      responses:
        '200':
          description: Caption download
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                  content:
                    type: string

  # Chapters API
  /videos/{videoId}/chapters:
    get:
      tags: [Chapters]
      summary: List chapters for a video
      operationId: listChapters
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of chapters
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chapter'
    post:
      tags: [Chapters]
      summary: Create a chapter
      operationId: createChapter
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapterCreate'
      responses:
        '201':
          description: Chapter created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'

  /videos/{videoId}/chapters/detect:
    post:
      tags: [Chapters]
      summary: Start AI chapter detection
      operationId: detectChapters
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapterDetectRequest'
      responses:
        '202':
          description: Detection job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionJob'

  # Editor API
  /editor/projects:
    get:
      tags: [Editor]
      summary: List editor projects
      operationId: listProjects
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of projects
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EditorProject'
    post:
      tags: [Editor]
      summary: Create an editor project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditorProjectCreate'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditorProject'

  /editor/projects/{projectId}:
    get:
      tags: [Editor]
      summary: Get a project
      operationId: getProject
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditorProject'
    patch:
      tags: [Editor]
      summary: Update a project
      operationId: updateProject
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditorProjectUpdate'
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditorProject'
    delete:
      tags: [Editor]
      summary: Delete a project
      operationId: deleteProject
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Project deleted

  /editor/projects/{projectId}/export:
    post:
      tags: [Editor]
      summary: Export a project
      operationId: exportProject
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
      responses:
        '202':
          description: Export started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJob'

  # Phone API
  /phone/lines:
    get:
      tags: [Phone]
      summary: List phone lines
      operationId: listPhoneLines
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Paginated list of phone lines
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PhoneLine'
    post:
      tags: [Phone]
      summary: Provision a phone line
      operationId: provisionPhoneLine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneLineProvision'
      responses:
        '201':
          description: Phone line provisioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneLine'

  /phone/calls:
    get:
      tags: [Phone]
      summary: List calls
      operationId: listCalls
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: lineId
          in: query
          schema:
            type: string
        - name: direction
          in: query
          schema:
            type: string
            enum: [inbound, outbound]
      responses:
        '200':
          description: Paginated list of calls
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Call'
    post:
      tags: [Phone]
      summary: Make a call
      operationId: makeCall
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallCreate'
      responses:
        '201':
          description: Call initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'

  # Collab API
  /collab/rooms:
    get:
      tags: [Collab]
      summary: List collaboration rooms
      operationId: listCollabRooms
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [waiting, active, ended]
      responses:
        '200':
          description: Paginated list of rooms
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CollabRoom'
    post:
      tags: [Collab]
      summary: Create a collaboration room
      operationId: createCollabRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabRoomCreate'
      responses:
        '201':
          description: Room created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabRoom'

  /collab/rooms/{roomId}:
    get:
      tags: [Collab]
      summary: Get a room
      operationId: getCollabRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Room details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabRoom'
    delete:
      tags: [Collab]
      summary: Delete a room
      operationId: deleteCollabRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Room deleted

  # Podcast API
  /podcast/shows:
    get:
      tags: [Podcast]
      summary: List podcast shows
      operationId: listPodcastShows
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Paginated list of shows
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PodcastShow'
    post:
      tags: [Podcast]
      summary: Create a podcast show
      operationId: createPodcastShow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PodcastShowCreate'
      responses:
        '201':
          description: Show created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodcastShow'

  /podcast/shows/{showId}/episodes:
    get:
      tags: [Podcast]
      summary: List episodes for a show
      operationId: listPodcastEpisodes
      parameters:
        - name: showId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Paginated list of episodes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PodcastEpisode'
    post:
      tags: [Podcast]
      summary: Create an episode
      operationId: createPodcastEpisode
      parameters:
        - name: showId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PodcastEpisodeCreate'
      responses:
        '201':
          description: Episode created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodcastEpisode'

  # Studio AI API
  /studio-ai/enhancements:
    get:
      tags: [Studio AI]
      summary: List enhancement jobs
      operationId: listEnhancements
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: type
          in: query
          schema:
            type: string
            enum: [upscale, denoise, stabilize, color_correct, super_resolution]
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
      responses:
        '200':
          description: Paginated list of enhancements
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Enhancement'
    post:
      tags: [Studio AI]
      summary: Create an enhancement job
      operationId: createEnhancement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnhancementCreate'
      responses:
        '201':
          description: Enhancement created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enhancement'

  /studio-ai/preview:
    post:
      tags: [Studio AI]
      summary: Generate enhancement preview
      operationId: previewEnhancement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnhancementPreviewRequest'
      responses:
        '200':
          description: Preview generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  beforeUrl:
                    type: string
                    format: uri
                  afterUrl:
                    type: string
                    format: uri

  # Transcribe API
  /transcribe:
    get:
      tags: [Transcribe]
      summary: List transcriptions
      operationId: listTranscriptions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
      responses:
        '200':
          description: Paginated list of transcriptions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Transcription'
    post:
      tags: [Transcribe]
      summary: Create a transcription
      operationId: createTranscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionCreate'
      responses:
        '201':
          description: Transcription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transcription'

  /transcribe/{transcriptionId}:
    get:
      tags: [Transcribe]
      summary: Get a transcription
      operationId: getTranscription
      parameters:
        - name: transcriptionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transcription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transcription'
    delete:
      tags: [Transcribe]
      summary: Delete a transcription
      operationId: deleteTranscription
      parameters:
        - name: transcriptionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Transcription deleted

  # Sentiment API
  /sentiment:
    get:
      tags: [Sentiment]
      summary: List sentiment analyses
      operationId: listSentimentAnalyses
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
      responses:
        '200':
          description: Paginated list of analyses
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SentimentAnalysis'
    post:
      tags: [Sentiment]
      summary: Create a sentiment analysis
      operationId: createSentimentAnalysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentimentAnalysisCreate'
      responses:
        '201':
          description: Analysis created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentAnalysis'

  /sentiment/analyze:
    post:
      tags: [Sentiment]
      summary: Analyze text directly
      operationId: analyzeText
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                includeEmotions:
                  type: boolean
                  default: false
                includeTopics:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Analysis result
          content:
            application/json:
              schema:
                type: object
                properties:
                  sentiment:
                    type: string
                    enum: [positive, negative, neutral]
                  score:
                    type: number
                  confidence:
                    type: number
                  emotions:
                    $ref: '#/components/schemas/EmotionBreakdown'
                  topics:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopicSentiment'

  # Search API
  /search:
    post:
      tags: [Search]
      summary: Search content
      operationId: search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SearchResult'
                      facets:
                        type: array
                        items:
                          $ref: '#/components/schemas/SearchFacet'

  /search/quick:
    get:
      tags: [Search]
      summary: Quick search
      operationId: quickSearch
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchResult'

  /search/suggest:
    get:
      tags: [Search]
      summary: Get search suggestions
      operationId: searchSuggest
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 5
      responses:
        '200':
          description: Search suggestions
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchSuggestion'

  /search/semantic:
    post:
      tags: [Search]
      summary: Semantic search
      operationId: semanticSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                types:
                  type: array
                  items:
                    type: string
                limit:
                  type: integer
                  default: 10
      responses:
        '200':
          description: Semantic search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchResult'

  # Realtime API — served at realtime.wave.online (per-operation server override). WebSocket subscribe
  # is documented descriptively (OpenAPI has no native WS); REST publish/presence/history are first-class.
  /realtime/connect:
    get:
      tags: [Realtime]
      summary: Subscribe to a channel (WebSocket)
      operationId: realtimeConnect
      description: >-
        Open a WebSocket to subscribe to a channel. This is a WebSocket upgrade (HTTP 101), not a normal
        GET — clients send `Upgrade: websocket`. Browser/SDK clients that cannot set headers may pass the
        key as `?access_token=`. On connect the server sends a `welcome` frame (current presence +
        recent history), then live frames: `message` (a published event), `join`/`leave` (presence),
        `presence` (full list). The real path is `/v1/connect?channel=<id>`.
      servers:
        - url: https://realtime.wave.online
          description: WAVE Realtime edge
      parameters:
        - name: channel
          in: query
          required: true
          schema: { type: string, pattern: '^[a-z0-9][a-z0-9:_-]{0,127}$' }
          description: Namespaced channel id, e.g. `stream:abc`, `room:xyz`.
        - name: as
          in: query
          required: false
          schema: { type: string }
          description: Member id to present as (defaults to the caller's key prefix).
      responses:
        '101':
          description: Switching Protocols — WebSocket established.
        '401': { description: Authentication required }
        '426': { description: Upgrade required (not a WebSocket request) }
  /realtime/channels/{channel}/publish:
    post:
      tags: [Realtime]
      summary: Publish an event to a channel
      operationId: realtimePublish
      description: Producer endpoint — publish one event to every subscriber of a channel. The real path is `/v1/channels/{channel}/publish`.
      servers:
        - url: https://realtime.wave.online
          description: WAVE Realtime edge
      parameters:
        - name: channel
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event]
              properties:
                event:
                  type: string
                  description: Event name, e.g. `caption.cue`, `sentiment.tick`, `clip.created`, `stream.started`.
                data:
                  description: Arbitrary JSON payload for the event.
      responses:
        '200':
          description: Published
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  delivered: { type: integer, description: Number of subscribers the event reached }
        '401': { description: Authentication required }
  /realtime/channels/{channel}/presence:
    get:
      tags: [Realtime]
      summary: Current presence for a channel
      operationId: realtimePresence
      description: The real path is `/v1/channels/{channel}/presence`.
      servers:
        - url: https://realtime.wave.online
          description: WAVE Realtime edge
      parameters:
        - name: channel
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Presence list
          content:
            application/json:
              schema:
                type: object
                properties:
                  channel: { type: string }
                  members:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
  /realtime/channels/{channel}/history:
    get:
      tags: [Realtime]
      summary: Recent event history for a channel
      operationId: realtimeHistory
      description: Last-N events (≤50). The real path is `/v1/channels/{channel}/history`.
      servers:
        - url: https://realtime.wave.online
          description: WAVE Realtime edge
      parameters:
        - name: channel
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 50, maximum: 50 }
      responses:
        '200':
          description: Recent events
          content:
            application/json:
              schema:
                type: object
                properties:
                  channel: { type: string }
                  events:
                    type: array
                    items: { type: object }

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication. Get your API key from the WAVE Developer Portal.

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPageParam:
      name: perPage
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimitError:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required, or the API key / token is invalid or expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: >
        The key is valid but lacks the scope or entitlement for this operation
        (e.g. SCOPE_OVERREACH, quota tier exhausted).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UpstreamError:
      description: >
        An upstream capability provider (e.g. the speech engine) failed. The
        gateway interprets the failure and returns this normalized WAVE error
        instead of the raw upstream response, so the caller always sees a stable
        shape it can act on.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      description: >
        WAVE-normalized error envelope returned by the api.wave.online gateway.
        Upstream provider, auth, and quota failures are *interpreted* into this
        single shape — raw upstream errors (stack traces, vendor SDK objects) are
        never leaked to the caller. `error.code` is a stable machine-readable code
        (e.g. AUTH_REQUIRED, SCOPE_OVERREACH, RATE_LIMIT_EXCEEDED, UPSTREAM_ERROR);
        `error.message` is human-readable.
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Stable machine-readable error code.
            message:
              type: string
              description: Human-readable explanation, safe to surface to end users.
            details:
              type: object
              additionalProperties: true
              description: >
                Optional structured context (e.g. failing field, retry limit,
                requested scopes) — never raw upstream payloads.
            suggestions:
              type: array
              description: >
                Actionable next steps, ordered most→least likely to resolve the
                error. Written to be acted on by a human OR an agent.
              items:
                type: string
            did_you_mean:
              type: array
              description: >
                Closest valid alternatives when the caller likely made a typo or
                wrong choice (e.g. an unknown scope, product, or route).
              items:
                type: string
            doc_url:
              type: string
              format: uri
              description: Documentation link for this error.

    Pagination:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items: {}
        pagination:
          $ref: '#/components/schemas/Pagination'

    JobStatus:
      type: string
      enum: [pending, processing, completed, failed, cancelled]

    Receipt:
      type: object
      description: >
        WAVE Receipts envelope — a signed, verifiable record of a completed
        operation. One shape, three instances: the Render Receipt (wave-video),
        the Payment Receipt (agent-money / x402), and the Context Receipt
        (wave-dispatch). The bytes that are signed and verified are the
        *canonical* JSON of `receipt` (sorted keys, no whitespace), so any
        verifier reproduces exactly what the signer signed.
      required: [schema, receipt, alg]
      properties:
        schema:
          type: string
          description: Receipt payload schema id + version (matches the payload's own `schema_version`).
          examples: [wave.context-receipt/v0]
        receipt:
          type: object
          description: >
            The receipt payload — one of the instance schemas (e.g.
            `#/components/schemas/ContextReceipt`).
          additionalProperties: true
        sig:
          type: [string, 'null']
          description: >
            Detached signature over the canonical JSON of `receipt`, encoded per
            `alg`, or null when the receipt is unsigned (`alg: none`).
        alg:
          type: string
          description: >
            Signature algorithm (e.g. `ed25519`). `none` means the receipt is
            honestly unsigned; a present signature is trusted ONLY when a verifier
            confirms it over the canonical body — a signature that cannot be
            checked is never trusted.
          examples: [ed25519, none]

    ContextReceipt:
      type: object
      description: >
        Proof of exactly what context a single model invocation was given — the
        Context Integrity instance of the WAVE Receipts standard. Travels as the
        `receipt` payload of a `Receipt` envelope (`schema: wave.context-receipt/v0`).
        The platform measures the window each model REALLY serves (not the
        advertised one) and either fits the prompt, routes up to a bigger window,
        or refuses — it never silently front-truncates.
      required:
        [model, served_window, effective_window, input_tokens, decision_kind, truncated, ts, schema_version]
      properties:
        model:
          type: string
          description: Target model identifier.
        served_window:
          type: integer
          description: >
            The context window the model ACTUALLY served, as measured by the Fleet
            Probe — not the advertised window. Trusting the measured value over the
            advertised one is the guarantee this receipt attests to.
        effective_window:
          type: integer
          description: >
            Window available for input after carving out reserved output headroom,
            chat-template overhead, and tool/MCP schema tokens.
        input_tokens:
          type: integer
          description: >
            Conservative estimate of the prompt's input tokens (chars/token margin
            biased to never under-count).
        decision_kind:
          type: string
          enum: [fit, route_up, refuse]
          description: >
            The Truncation Guard's decision: `fit` (prompt fits), `route_up`
            (escalate to a bigger window), or `refuse` (loud — chunk or raise the
            window). Never silently truncates.
        truncated:
          type: boolean
          description: >
            True only if a downstream stage forced a truncation the guard would
            have refused. Normally false.
        ts:
          type: string
          format: date-time
          description: ISO-8601 timestamp of the decision.
        schema_version:
          type: string
          description: Payload schema version (equals the envelope `schema`).
          examples: [wave.context-receipt/v0]

    # Clip schemas
    Clip:
      type: object
      properties:
        id:
          type: string
        videoId:
          type: string
        startTime:
          type: number
        endTime:
          type: number
        duration:
          type: number
        title:
          type: string
        description:
          type: string
        score:
          type: number
        category:
          type: string
        thumbnailUrl:
          type: string
          format: uri
        previewUrl:
          type: string
          format: uri
        status:
          $ref: '#/components/schemas/JobStatus'
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ClipCreate:
      type: object
      required: [videoId, startTime, endTime]
      properties:
        videoId:
          type: string
        startTime:
          type: number
        endTime:
          type: number
        title:
          type: string
        description:
          type: string
        category:
          type: string

    ClipUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        startTime:
          type: number
        endTime:
          type: number

    ClipDetectRequest:
      type: object
      required: [videoId]
      properties:
        videoId:
          type: string
        minDuration:
          type: number
          default: 5
        maxDuration:
          type: number
          default: 60
        categories:
          type: array
          items:
            type: string
        sensitivity:
          type: number
          minimum: 0
          maximum: 1
          default: 0.5
        maxClips:
          type: integer

    DetectionJob:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        progress:
          type: integer
        createdAt:
          type: string
          format: date-time

    # Voice schemas
    Voice:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        previewUrl:
          type: string
          format: uri
        category:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string

    VoiceGeneration:
      type: object
      properties:
        id:
          type: string
        voiceId:
          type: string
        text:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        audioUrl:
          type: string
          format: uri
        alignment:
          $ref: '#/components/schemas/VoiceAlignment'
        duration:
          type: number
        characterCount:
          type: integer
        model:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    VoiceAlignment:
      type: object
      description: >
        Character-level timing for the generated audio, present only when the
        request set `timestamps: true`. A direct passthrough of the engine's
        alignment, so clients can render karaoke highlighting and derive caption
        cues. The three arrays are parallel (same length, always present together).
        Property names are snake_case because this is a verbatim passthrough of the
        speech engine's alignment, which downstream caption/karaoke consumers parse
        by these exact keys.
      required: [characters, character_start_times_seconds, character_end_times_seconds]
      properties:
        characters:
          type: array
          items:
            type: string
        character_start_times_seconds:
          type: array
          items:
            type: number
        character_end_times_seconds:
          type: array
          items:
            type: number

    VoiceSynthesisInline:
      type: object
      description: >
        Synchronous voice synthesis result returned inline in a single round-trip.
        Used when `timestamps: true`, so the caller receives audio and character-level
        `alignment` together with no polling — the shape the blog karaoke/caption
        pipeline consumes. When timestamps are not requested the gateway may instead
        return raw audio bytes (audio/mpeg) or an async VoiceGeneration job.
      required: [audio_base64]
      properties:
        audio_base64:
          type: string
          format: byte
          description: Base64-encoded audio payload (container/codec per `outputFormat`).
        alignment:
          $ref: '#/components/schemas/VoiceAlignment'
        format:
          type: string
          description: Audio container/codec of the decoded bytes (e.g. mp3_44100_128).

    VoiceGenerateRequest:
      type: object
      required: [voiceId, text]
      properties:
        voiceId:
          type: string
        text:
          type: string
        stability:
          type: number
          minimum: 0
          maximum: 1
          default: 0.5
        similarityBoost:
          type: number
          minimum: 0
          maximum: 1
          default: 0.75
        style:
          type: number
          minimum: 0
          maximum: 1
          default: 0
        model:
          type: string
          default: eleven_multilingual_v2
        outputFormat:
          type: string
          default: mp3_44100_128
        timestamps:
          type: boolean
          default: false
          description: >
            When true, the resulting VoiceGeneration includes character-level
            `alignment` (start/end times) so clients can render karaoke highlighting
            and derive caption cues. Backed by the engine's with-timestamps mode.

    VoiceCloneRequest:
      type: object
      required: [name, audioFiles]
      properties:
        name:
          type: string
        audioFiles:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          maxItems: 25
        description:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string

    # Caption schemas
    CaptionJob:
      type: object
      properties:
        id:
          type: string
        videoId:
          type: string
        sourceLanguage:
          type: string
        targetLanguages:
          type: array
          items:
            type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        progress:
          type: integer
        outputs:
          type: object
          additionalProperties:
            type: string
        errorMessage:
          type: string
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CaptionJobCreate:
      type: object
      required: [videoId]
      properties:
        videoId:
          type: string
        sourceLanguage:
          type: string
          default: en
        targetLanguages:
          type: array
          items:
            type: string
        style:
          type: string
          default: default
        speakerLabels:
          type: boolean
          default: false

    # Chapter schemas
    Chapter:
      type: object
      properties:
        id:
          type: string
        videoId:
          type: string
        title:
          type: string
        description:
          type: string
        startTime:
          type: number
        endTime:
          type: number
        thumbnailUrl:
          type: string
          format: uri

    ChapterCreate:
      type: object
      required: [title, startTime, endTime]
      properties:
        title:
          type: string
        description:
          type: string
        startTime:
          type: number
        endTime:
          type: number

    ChapterDetectRequest:
      type: object
      properties:
        minDuration:
          type: number
          default: 30
        maxChapters:
          type: integer
        includeDescriptions:
          type: boolean
          default: true
        includeThumbnails:
          type: boolean
          default: true

    # Editor schemas
    EditorProject:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
        duration:
          type: number
        resolution:
          type: string
        frameRate:
          type: number
        thumbnailUrl:
          type: string
          format: uri
        exportUrl:
          type: string
          format: uri
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    EditorProjectCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        resolution:
          type: string
          default: '1920x1080'
        frameRate:
          type: number
          default: 30
        aspectRatio:
          type: string
          default: '16:9'

    EditorProjectUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    ExportRequest:
      type: object
      properties:
        format:
          type: string
          enum: [mp4, webm, mov]
          default: mp4
        resolution:
          type: string
        quality:
          type: string
          enum: [low, medium, high, ultra]
          default: high

    ExportJob:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        progress:
          type: integer
        outputUrl:
          type: string
          format: uri

    # Phone schemas
    PhoneLine:
      type: object
      properties:
        id:
          type: string
        number:
          type: string
        name:
          type: string
        status:
          type: string
        capabilities:
          type: array
          items:
            type: string
        monthlyCost:
          type: number
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PhoneLineProvision:
      type: object
      properties:
        areaCode:
          type: string
        country:
          type: string
          default: US
        capabilities:
          type: array
          items:
            type: string
            enum: [voice, sms, mms, fax]
        name:
          type: string

    Call:
      type: object
      properties:
        id:
          type: string
        lineId:
          type: string
        direction:
          type: string
          enum: [inbound, outbound]
        fromNumber:
          type: string
        toNumber:
          type: string
        status:
          type: string
        duration:
          type: integer
        recordingUrl:
          type: string
          format: uri
        transcript:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CallCreate:
      type: object
      required: [fromLineId, toNumber]
      properties:
        fromLineId:
          type: string
        toNumber:
          type: string
        record:
          type: boolean
          default: false
        transcribe:
          type: boolean
          default: false
        webhookUrl:
          type: string
          format: uri

    # Collab schemas
    CollabRoom:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [video, audio, whiteboard, screen]
        status:
          type: string
          enum: [waiting, active, ended]
        maxParticipants:
          type: integer
        currentParticipants:
          type: integer
        scheduledStart:
          type: string
          format: date-time
        joinUrl:
          type: string
          format: uri
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CollabRoomCreate:
      type: object
      required: [name, type]
      properties:
        name:
          type: string
        type:
          type: string
          enum: [video, audio, whiteboard, screen]
        maxParticipants:
          type: integer
          default: 10
        scheduledStart:
          type: string
          format: date-time
        settings:
          type: object

    # Podcast schemas
    PodcastShow:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        coverUrl:
          type: string
          format: uri
        rssUrl:
          type: string
          format: uri
        category:
          type: string
        language:
          type: string
        explicit:
          type: boolean
        episodeCount:
          type: integer
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PodcastShowCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        language:
          type: string
          default: en
        explicit:
          type: boolean
          default: false
        coverUrl:
          type: string
          format: uri

    PodcastEpisode:
      type: object
      properties:
        id:
          type: string
        showId:
          type: string
        title:
          type: string
        description:
          type: string
        audioUrl:
          type: string
          format: uri
        duration:
          type: number
        episodeNumber:
          type: integer
        seasonNumber:
          type: integer
        publishedAt:
          type: string
          format: date-time
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PodcastEpisodeCreate:
      type: object
      required: [title, audioUrl]
      properties:
        title:
          type: string
        description:
          type: string
        audioUrl:
          type: string
          format: uri
        episodeNumber:
          type: integer
        seasonNumber:
          type: integer
        publishedAt:
          type: string
          format: date-time

    # Studio AI schemas
    Enhancement:
      type: object
      properties:
        id:
          type: string
        videoId:
          type: string
        type:
          type: string
          enum: [upscale, denoise, stabilize, color_correct, super_resolution]
        status:
          $ref: '#/components/schemas/JobStatus'
        progress:
          type: integer
        inputUrl:
          type: string
          format: uri
        outputUrl:
          type: string
          format: uri
        settings:
          type: object
        creditsUsed:
          type: integer
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    EnhancementCreate:
      type: object
      required: [videoId, type]
      properties:
        videoId:
          type: string
        type:
          type: string
          enum: [upscale, denoise, stabilize, color_correct, super_resolution]
        settings:
          type: object
        priority:
          type: string
          enum: [low, normal, high]
          default: normal

    EnhancementPreviewRequest:
      type: object
      required: [videoId, type]
      properties:
        videoId:
          type: string
        type:
          type: string
        timestamp:
          type: number
          default: 0
        settings:
          type: object

    # Transcription schemas
    Transcription:
      type: object
      properties:
        id:
          type: string
        sourceId:
          type: string
        sourceType:
          type: string
          enum: [video, audio]
        status:
          $ref: '#/components/schemas/JobStatus'
        language:
          type: string
        text:
          type: string
        duration:
          type: number
        wordCount:
          type: integer
        confidence:
          type: number
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    TranscriptionCreate:
      type: object
      required: [sourceId, sourceType]
      properties:
        sourceId:
          type: string
        sourceType:
          type: string
          enum: [video, audio]
        language:
          type: string
        speakerLabels:
          type: boolean
          default: false
        wordTimestamps:
          type: boolean
          default: false
        punctuation:
          type: boolean
          default: true
        model:
          type: string
          default: default

    # Sentiment schemas
    SentimentAnalysis:
      type: object
      properties:
        id:
          type: string
        sourceId:
          type: string
        sourceType:
          type: string
          enum: [video, audio, text, chat]
        status:
          $ref: '#/components/schemas/JobStatus'
        overallSentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        overallScore:
          type: number
        confidence:
          type: number
        summary:
          type: string
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SentimentAnalysisCreate:
      type: object
      required: [sourceId, sourceType]
      properties:
        sourceId:
          type: string
        sourceType:
          type: string
          enum: [video, audio, text, chat]
        text:
          type: string
        includeEmotions:
          type: boolean
          default: false
        includeTopics:
          type: boolean
          default: false
        includeSummary:
          type: boolean
          default: false
        segmentAnalysis:
          type: boolean
          default: false

    EmotionBreakdown:
      type: object
      properties:
        joy:
          type: number
        sadness:
          type: number
        anger:
          type: number
        fear:
          type: number
        surprise:
          type: number
        disgust:
          type: number
        trust:
          type: number
        anticipation:
          type: number

    TopicSentiment:
      type: object
      properties:
        topic:
          type: string
        sentiment:
          type: string
          enum: [positive, negative, neutral]
        score:
          type: number
        mentions:
          type: integer
        keywords:
          type: array
          items:
            type: string

    # Search schemas
    SearchResult:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [video, clip, chapter, transcript, episode]
        title:
          type: string
        description:
          type: string
        thumbnailUrl:
          type: string
          format: uri
        url:
          type: string
          format: uri
        score:
          type: number
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/SearchHighlight'
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time

    SearchHighlight:
      type: object
      properties:
        field:
          type: string
        snippet:
          type: string
        positions:
          type: array
          items:
            type: object
            properties:
              start:
                type: integer
              end:
                type: integer

    SearchRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
        types:
          type: array
          items:
            type: string
            enum: [video, clip, chapter, transcript, episode]
        filters:
          type: object
          properties:
            dateFrom:
              type: string
              format: date
            dateTo:
              type: string
              format: date
            duration:
              type: object
              properties:
                min:
                  type: number
                max:
                  type: number
            tags:
              type: array
              items:
                type: string
            categories:
              type: array
              items:
                type: string
            language:
              type: string
        sort:
          type: object
          properties:
            field:
              type: string
              enum: [relevance, date, views, duration, title]
              default: relevance
            order:
              type: string
              enum: [asc, desc]
              default: desc
        highlight:
          type: boolean
          default: true
        fuzzy:
          type: boolean
          default: false
        semanticSearch:
          type: boolean
          default: false
        page:
          type: integer
          default: 1
        perPage:
          type: integer
          default: 20

    SearchSuggestion:
      type: object
      properties:
        text:
          type: string
        type:
          type: string
          enum: [query, title, tag]
        score:
          type: number

    SearchFacet:
      type: object
      properties:
        field:
          type: string
        values:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              count:
                type: integer
