openapi: 3.1.0
info:
  title: WAVE Enterprise Streaming Platform API
  description: |
    Complete API reference for WAVE Enterprise Streaming Platform.

    ## Authentication
    All API requests require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    ## Rate Limiting
    API requests are rate limited. When rate limited, you'll receive a 429 response
    with a `Retry-After` header indicating when to retry.

    ## Pagination
    List endpoints support pagination via `page` and `perPage` query parameters.
    Responses include pagination metadata.

    ## Errors
    All errors return the normalized WAVE envelope `{ "error": { "code", "message" } }`,
    optionally enriched with `details`, `suggestions`, `did_you_mean`, and `doc_url`.
  version: 1.0.0
  contact:
    name: WAVE Developer Support
    url: https://wave.online/developers
    email: developers@wave.online
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.wave.online/v1
    description: Production API

security:
  - BearerAuth: []

tags:
  - name: Clips
    description: AI-powered highlight detection and clip management
  - name: Voice
    description: Text-to-speech synthesis and voice cloning
  - name: Captions
    description: Auto-captioning and multi-language translation
  - name: Chapters
    description: AI chapter detection and video segmentation
  - name: Editor
    description: Cloud video editing projects
  - name: Phone
    description: VoIP phone lines and call management
  - name: Collab
    description: Real-time collaboration rooms
  - name: Podcast
    description: Podcast show and episode management
  - name: Studio AI
    description: Video enhancement and AI processing
  - name: Transcribe
    description: Speech-to-text transcription
  - name: Sentiment
    description: Sentiment and emotion analysis
  - name: Search
    description: Semantic content search
  - name: Realtime
    description: >-
      Live control & event plane — presence, pub/sub broadcast, and the streaming-event bus the WAVE
      AI products push into. Served at realtime.wave.online (not the api host); subscribe over one
      WebSocket, producers publish over REST. Auth federates to the gateway.
  - name: AV Mux/Demux
    description: >-
      Synchronous container-transform for local IP video + Dante/AES67 audio: mux separate RTP H.264
      video and Dante audio into one sync-locked MPEG-TS or fMP4 stream, and demux the inverse. x402
      metered per minute (`wave_av_minutes`) plus per transform-second (`wave_av_transform_seconds`).
  - name: Enhance
    description: >-
      AI video super-resolution. v1 ships one model, `espcn` (ESPCN, a fixed exact 3x upscale) —
      unrecognized `model` values 400. Requires the `enhance:write` entitlement; x402-payable
      per-output-minute (`wave_enhance_minutes`, rounded up to the nearest minute of rendered
      output duration).
  - name: Braided Audio
    description: >-
      On-demand WAVE Braided Audio publish — mixes multiple named audio sources into one
      MoQ-native braided track (single interleaved multichannel stream, not N independent
      streams). Requires the `moq:write` entitlement. Publishing spins up an on-demand machine;
      the same namespace can be republished (replacing the prior machine) or explicitly stopped.
  - name: MoQ
    description: >-
      Media over QUIC join-token mint — the only HTTP surface of the MoQ product. These two
      endpoints authorize the caller on the api host and return a short-lived signed join-token
      plus the relay URL to connect to; media never transits the API gateway, because the client
      opens the MoQ session DIRECTLY to the relay at moq.wave.online carrying that token. The media
      session itself is not an HTTP surface and is deliberately not modelled in this document: it
      is the IETF Media over QUIC Transport protocol (control + object frames over WebTransport /
      QUIC, with a WebSocket fallback for browsers that cannot open a raw QUIC session). To use it,
      point a MoQ client at `relayWsUrl` and pass the token as the `join` query parameter (browser
      WebSocket clients cannot set request headers) or, server-to-server, as the `x-wave-moq-join`
      request header — SDK clients mint the token; carrying it over the wire is the MoQ client's
      job. DRAFT VERSION: this surface corresponds to draft-ietf-moq-transport-18
      (https://datatracker.ietf.org/doc/draft-ietf-moq-transport/18/), which is what the WAVE relay
      currently speaks (preferred draft-18, negotiating draft-07..draft-18 over ALPN). draft-19 was
      published 2026-07-06 and is NOT yet deployed; adopting it is tracked in wave-moq-edge#114.
      The join-token mint is transport-version independent — a draft bump changes the wire session,
      not this HTTP contract.

  - name: Render
    description: >-
      Code-defined video — render a branded, deterministic MP4 (or alpha ProRes) from a typed
      Brief. Pay-per-render over x402 (no signup); the payment proof is the identity. The same
      Brief renders to the same bytes on any host. Reference renderer is source-available (BSL).
paths:
  # Render API
  /render:
    post:
      tags: [Render]
      summary: Render a video from a Brief (x402-payable)
      operationId: renderVideo
      description: >-
        POST a typed Brief. Unpaid → 402 with a `WWW-Authenticate` x402 challenge; pay and retry.
        A bad brief → 400 before any charge. Paid → 200: the binary `video/mp4` by default, or a
        RenderResult envelope when you send `Accept: application/json` (always for 4K / alpha,
        delivered via a signed, expiring URL). Deterministic within a renderer version; `sha256`
        is the determinism receipt (also on the `x-wave-sha256` header).
      security: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
          description: A replayed key returns the original result without re-charging.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenderBrief'
      responses:
        '200':
          description: The rendered video — binary, or a RenderResult envelope under Accept application/json.
          content:
            video/mp4:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/RenderResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '402':
          description: Payment required — pay the x402 challenge and retry.
          headers:
            WWW-Authenticate:
              schema:
                type: string
              description: The x402 challenge, including the quoted price.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Output too large to return inline and no hosted delivery configured (OUTPUT_TOO_LARGE).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '451':
          description: Content is on the operator deny/takedown list and will not be rendered (CONTENT_BLOCKED).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /render/{jobId}:
    get:
      tags: [Render]
      summary: Poll an async render job
      operationId: renderPoll
      description: >-
        Fetch the current state of a render started asynchronously. Terminal states carry the
        delivery URL and the determinism receipt; poll until `status` is `done` or `error`.
        Prefer `/render/{jobId}/events` when you can hold a connection — it delivers the same
        frames without a polling loop.
      security: []
      parameters:
        - $ref: '#/components/parameters/RenderJobIdParam'
      responses:
        '200':
          description: The job view.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderJobView'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          description: >-
            Job status temporarily unavailable — the job store did not answer. This is
            retryable and does NOT mean the job failed; back off and poll again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /render/{jobId}/events:
    get:
      tags: [Render]
      summary: Subscribe to an async render job (SSE)
      operationId: renderEvents
      description: >-
        Server-Sent Events stream of `RenderJobView` frames for a render job. One frame per state
        transition; the stream closes once the job reaches a terminal state (`done` or `error`).
        The final frame is identical to what `GET /render/{jobId}` would return at that moment.
      security: []
      parameters:
        - $ref: '#/components/parameters/RenderJobIdParam'
      responses:
        '200':
          description: SSE stream of RenderJobView frames.
          content:
            text/event-stream:
              schema:
                type: string
                description: >-
                  An SSE stream. Each `data:` line is a JSON-encoded `RenderJobView`.
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  # Clips API
  /clips:
    get:
      tags: [Clips]
      summary: List clips
      operationId: listClips
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: videoId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of clips
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Clip'
    post:
      tags: [Clips]
      summary: Create a clip
      operationId: createClip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipCreate'
      responses:
        '201':
          description: Clip created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clip'
        '400':
          $ref: '#/components/responses/ValidationError'

  /clips/{clipId}:
    get:
      tags: [Clips]
      summary: Get a clip
      operationId: getClip
      parameters:
        - name: clipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Clip details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clip'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      tags: [Clips]
      summary: Update a clip
      operationId: updateClip
      parameters:
        - name: clipId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipUpdate'
      responses:
        '200':
          description: Clip updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clip'
    delete:
      tags: [Clips]
      summary: Delete a clip
      operationId: deleteClip
      parameters:
        - name: clipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Clip deleted

  /clips/detect:
    post:
      tags: [Clips]
      summary: Start AI clip detection
      operationId: detectClips
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipDetectRequest'
      responses:
        '202':
          description: Detection job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionJob'

  # Voice API
  /voice/voices:
    get:
      tags: [Voice]
      summary: List available voices
      operationId: listVoices
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [premade, cloned, professional]
        - name: language
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of voices
          content:
            application/json:
              schema:
                type: object
                properties:
                  voices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voice'

  /voice/generate:
    post:
      tags: [Voice]
      summary: Generate speech from text
      operationId: generateSpeech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceGenerateRequest'
      responses:
        '200':
          description: >
            Speech generated. The gateway returns one of three shapes depending on
            the engine path: an inline JSON payload with base64 audio + character
            `alignment` (single round-trip, carries word timestamps), an async job
            to poll, or raw audio bytes when timestamps were not requested.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/VoiceSynthesisInline'
                  - $ref: '#/components/schemas/VoiceGeneration'
            audio/mpeg:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '502':
          $ref: '#/components/responses/UpstreamError'

  /voice/clone:
    post:
      tags: [Voice]
      summary: Clone a voice from audio samples
      operationId: cloneVoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceCloneRequest'
      responses:
        '201':
          description: Voice cloned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'

  # Captions API
  /captions:
    get:
      tags: [Captions]
      summary: List caption jobs
      operationId: listCaptions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: videoId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
      responses:
        '200':
          description: Paginated list of caption jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CaptionJob'
    post:
      tags: [Captions]
      summary: Create a caption job
      operationId: createCaptionJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptionJobCreate'
      responses:
        '201':
          description: Caption job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptionJob'

  /captions/{jobId}:
    get:
      tags: [Captions]
      summary: Get a caption job
      operationId: getCaptionJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Caption job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptionJob'
    delete:
      tags: [Captions]
      summary: Delete a caption job
      operationId: deleteCaptionJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Caption job deleted

  /captions/{jobId}/download:
    get:
      tags: [Captions]
      summary: Download captions
      operationId: downloadCaptions
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: query
          required: true
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum: [srt, vtt, txt, json]
            default: srt
      responses:
        '200':
          description: Caption download
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                  content:
                    type: string

  # Chapters API
  /videos/{videoId}/chapters:
    get:
      tags: [Chapters]
      summary: List chapters for a video
      operationId: listChapters
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of chapters
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chapter'
    post:
      tags: [Chapters]
      summary: Create a chapter
      operationId: createChapter
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapterCreate'
      responses:
        '201':
          description: Chapter created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'

  /videos/{videoId}/chapters/detect:
    post:
      tags: [Chapters]
      summary: Start AI chapter detection
      operationId: detectChapters
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapterDetectRequest'
      responses:
        '202':
          description: Detection job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionJob'

  # Editor API
  /editor/projects:
    get:
      tags: [Editor]
      summary: List editor projects
      operationId: listProjects
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of projects
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EditorProject'
    post:
      tags: [Editor]
      summary: Create an editor project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditorProjectCreate'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditorProject'

  /editor/projects/{projectId}:
    get:
      tags: [Editor]
      summary: Get a project
      operationId: getProject
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditorProject'
    patch:
      tags: [Editor]
      summary: Update a project
      operationId: updateProject
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditorProjectUpdate'
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditorProject'
    delete:
      tags: [Editor]
      summary: Delete a project
      operationId: deleteProject
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Project deleted

  /editor/projects/{projectId}/export:
    post:
      tags: [Editor]
      summary: Export a project
      operationId: exportProject
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
      responses:
        '202':
          description: Export started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJob'

  # Phone API
  /phone/lines:
    get:
      tags: [Phone]
      summary: List phone lines
      operationId: listPhoneLines
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Paginated list of phone lines
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PhoneLine'
    post:
      tags: [Phone]
      summary: Provision a phone line
      operationId: provisionPhoneLine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneLineProvision'
      responses:
        '201':
          description: Phone line provisioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneLine'

  /phone/calls:
    get:
      tags: [Phone]
      summary: List calls
      operationId: listCalls
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: lineId
          in: query
          schema:
            type: string
        - name: direction
          in: query
          schema:
            type: string
            enum: [inbound, outbound]
      responses:
        '200':
          description: Paginated list of calls
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Call'
    post:
      tags: [Phone]
      summary: Make a call
      operationId: makeCall
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallCreate'
      responses:
        '201':
          description: Call initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'

  # Collab API
  /collab/rooms:
    get:
      tags: [Collab]
      summary: List collaboration rooms
      operationId: listCollabRooms
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [waiting, active, ended]
      responses:
        '200':
          description: Paginated list of rooms
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CollabRoom'
    post:
      tags: [Collab]
      summary: Create a collaboration room
      operationId: createCollabRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollabRoomCreate'
      responses:
        '201':
          description: Room created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabRoom'

  /collab/rooms/{roomId}:
    get:
      tags: [Collab]
      summary: Get a room
      operationId: getCollabRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Room details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabRoom'
    delete:
      tags: [Collab]
      summary: Delete a room
      operationId: deleteCollabRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Room deleted

  # Podcast API
  /podcast/shows:
    get:
      tags: [Podcast]
      summary: List podcast shows
      operationId: listPodcastShows
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Paginated list of shows
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PodcastShow'
    post:
      tags: [Podcast]
      summary: Create a podcast show
      operationId: createPodcastShow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PodcastShowCreate'
      responses:
        '201':
          description: Show created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodcastShow'

  /podcast/shows/{showId}/episodes:
    get:
      tags: [Podcast]
      summary: List episodes for a show
      operationId: listPodcastEpisodes
      parameters:
        - name: showId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Paginated list of episodes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PodcastEpisode'
    post:
      tags: [Podcast]
      summary: Create an episode
      operationId: createPodcastEpisode
      parameters:
        - name: showId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PodcastEpisodeCreate'
      responses:
        '201':
          description: Episode created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodcastEpisode'

  # Studio AI API
  /studio-ai/enhancements:
    get:
      tags: [Studio AI]
      summary: List enhancement jobs
      operationId: listEnhancements
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: type
          in: query
          schema:
            type: string
            enum: [upscale, denoise, stabilize, color_correct, super_resolution]
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
      responses:
        '200':
          description: Paginated list of enhancements
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Enhancement'
    post:
      tags: [Studio AI]
      summary: Create an enhancement job
      operationId: createEnhancement
      description: >-
        Creates an asynchronous, credit-billed enhancement job (including `upscale` and
        `super_resolution`) against a library video, returning a job envelope to poll. For
        synchronous, pay-per-call super-resolution of ad-hoc video bytes (billed against
        `wave_enhance_minutes`), use `POST /enhance` instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnhancementCreate'
      responses:
        '201':
          description: Enhancement created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enhancement'

  /studio-ai/preview:
    post:
      tags: [Studio AI]
      summary: Generate enhancement preview
      operationId: previewEnhancement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnhancementPreviewRequest'
      responses:
        '200':
          description: Preview generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  beforeUrl:
                    type: string
                    format: uri
                  afterUrl:
                    type: string
                    format: uri

  # Transcribe API
  /transcribe:
    get:
      tags: [Transcribe]
      summary: List transcriptions
      operationId: listTranscriptions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
      responses:
        '200':
          description: Paginated list of transcriptions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Transcription'
    post:
      tags: [Transcribe]
      summary: Create a transcription
      operationId: createTranscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionCreate'
      responses:
        '201':
          description: Transcription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transcription'

  /transcribe/{transcriptionId}:
    get:
      tags: [Transcribe]
      summary: Get a transcription
      operationId: getTranscription
      parameters:
        - name: transcriptionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transcription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transcription'
    delete:
      tags: [Transcribe]
      summary: Delete a transcription
      operationId: deleteTranscription
      parameters:
        - name: transcriptionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Transcription deleted

  # Sentiment API
  /sentiment:
    get:
      tags: [Sentiment]
      summary: List sentiment analyses
      operationId: listSentimentAnalyses
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
      responses:
        '200':
          description: Paginated list of analyses
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SentimentAnalysis'
    post:
      tags: [Sentiment]
      summary: Create a sentiment analysis
      operationId: createSentimentAnalysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentimentAnalysisCreate'
      responses:
        '201':
          description: Analysis created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentAnalysis'

  /sentiment/analyze:
    post:
      tags: [Sentiment]
      summary: Analyze text directly
      operationId: analyzeText
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                includeEmotions:
                  type: boolean
                  default: false
                includeTopics:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Analysis result
          content:
            application/json:
              schema:
                type: object
                properties:
                  sentiment:
                    type: string
                    enum: [positive, negative, neutral]
                  score:
                    type: number
                  confidence:
                    type: number
                  emotions:
                    $ref: '#/components/schemas/EmotionBreakdown'
                  topics:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopicSentiment'

  # Search API
  /search:
    post:
      tags: [Search]
      summary: Search content
      operationId: search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SearchResult'
                      facets:
                        type: array
                        items:
                          $ref: '#/components/schemas/SearchFacet'

  /search/quick:
    get:
      tags: [Search]
      summary: Quick search
      operationId: quickSearch
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchResult'

  /search/suggest:
    get:
      tags: [Search]
      summary: Get search suggestions
      operationId: searchSuggest
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 5
      responses:
        '200':
          description: Search suggestions
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchSuggestion'

  /search/semantic:
    post:
      tags: [Search]
      summary: Semantic search
      operationId: semanticSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                types:
                  type: array
                  items:
                    type: string
                limit:
                  type: integer
                  default: 10
      responses:
        '200':
          description: Semantic search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchResult'

  # Realtime API — served at realtime.wave.online (per-operation server override). WebSocket subscribe
  # is documented descriptively (OpenAPI has no native WS); REST publish/presence/history are first-class.
  /realtime/connect:
    get:
      tags: [Realtime]
      summary: Subscribe to a channel (WebSocket)
      operationId: realtimeConnect
      description: >-
        Open a WebSocket to subscribe to a channel. This is a WebSocket upgrade (HTTP 101), not a normal
        GET — clients send `Upgrade: websocket`. Browser/SDK clients that cannot set headers may pass the
        key as `?access_token=`. On connect the server sends a `welcome` frame (current presence +
        recent history), then live frames: `message` (a published event), `join`/`leave` (presence),
        `presence` (full list). The real path is `/v1/connect?channel=<id>`.
      servers:
        - url: https://realtime.wave.online
          description: WAVE Realtime edge
      parameters:
        - name: channel
          in: query
          required: true
          schema: { type: string, pattern: '^[a-z0-9][a-z0-9:_-]{0,127}$' }
          description: Namespaced channel id, e.g. `stream:abc`, `room:xyz`.
        - name: as
          in: query
          required: false
          schema: { type: string }
          description: Member id to present as (defaults to the caller's key prefix).
      responses:
        '101':
          description: Switching Protocols — WebSocket established.
        '401': { description: Authentication required }
        '426': { description: Upgrade required (not a WebSocket request) }
  /realtime/channels/{channel}/publish:
    post:
      tags: [Realtime]
      summary: Publish an event to a channel
      operationId: realtimePublish
      description: Producer endpoint — publish one event to every subscriber of a channel. The real path is `/v1/channels/{channel}/publish`.
      servers:
        - url: https://realtime.wave.online
          description: WAVE Realtime edge
      parameters:
        - name: channel
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event]
              properties:
                event:
                  type: string
                  description: Event name, e.g. `caption.cue`, `sentiment.tick`, `clip.created`, `stream.started`.
                data:
                  description: Arbitrary JSON payload for the event.
      responses:
        '200':
          description: Published
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  delivered: { type: integer, description: Number of subscribers the event reached }
        '401': { description: Authentication required }
  /realtime/channels/{channel}/presence:
    get:
      tags: [Realtime]
      summary: Current presence for a channel
      operationId: realtimePresence
      description: The real path is `/v1/channels/{channel}/presence`.
      servers:
        - url: https://realtime.wave.online
          description: WAVE Realtime edge
      parameters:
        - name: channel
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Presence list
          content:
            application/json:
              schema:
                type: object
                properties:
                  channel: { type: string }
                  members:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
  /realtime/channels/{channel}/history:
    get:
      tags: [Realtime]
      summary: Recent event history for a channel
      operationId: realtimeHistory
      description: Last-N events (≤50). The real path is `/v1/channels/{channel}/history`.
      servers:
        - url: https://realtime.wave.online
          description: WAVE Realtime edge
      parameters:
        - name: channel
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 50, maximum: 50 }
      responses:
        '200':
          description: Recent events
          content:
            application/json:
              schema:
                type: object
                properties:
                  channel: { type: string }
                  events:
                    type: array
                    items: { type: object }

  # Braided Audio API
  /braid/publish:
    post:
      tags: [Braided Audio]
      summary: Publish a braided audio track
      operationId: publishBraidAudio
      description: >-
        Starts (or replaces) an on-demand braid publisher for `ns`, mixing `sources` into one
        interleaved multichannel MoQ track. Requires the `moq:write` entitlement. If a machine is
        already live for this `org`/`ns`, it is torn down and replaced. Subject to per-org
        concurrency and creation-rate limits (429 `QUOTA_EXCEEDED` when exceeded).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BraidPublishRequest'
      responses:
        '201':
          description: Braid machine starting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BraidPublishResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          description: Per-org concurrency or creation-rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Braid publish unavailable — the worker is not provisioned for on-demand publish.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /braid/publish/{ns}:
    delete:
      tags: [Braided Audio]
      summary: Stop a braided audio publish
      operationId: stopBraidAudio
      description: >-
        Explicit early stop for a live braid machine in this namespace. Requires the `moq:write`
        entitlement. Tears down the machine via the same path `publishBraidAudio`'s replace
        action uses, so usage accounting is always consistent.
      parameters:
        - name: ns
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Braid machine stopped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BraidStopResult'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: No live braid machine for this namespace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Braid publish unavailable — the worker is not provisioned for on-demand publish.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Enhance API
  /enhance:
    post:
      tags: [Enhance]
      summary: Super-resolve a video with an AI model (x402-payable)
      operationId: enhanceVideo
      description: >-
        Upscales a video with an on-graph AI model. v1 ships exactly one model, `espcn` (ESPCN
        super-resolution, a fixed exact 3x factor baked into the trained weights — not a runtime
        parameter). Internally every input frame is letterboxed to a fixed working canvas before
        inference, so the v1 output resolution is fixed regardless of input resolution; a future
        model may support other output shapes. Send either the raw video bytes as the request body
        or a `url` query parameter pointing at an `https` source (the source is fetched
        server-side; redirects are not followed and non-public/loopback/private hosts are
        rejected). Requires the `enhance:write` entitlement. Billed against the
        `wave_enhance_minutes` meter: the OUTPUT artifact's rendered duration in minutes, rounded
        up to the next whole minute.


        Distinct from the Studio AI enhancement surface (`POST /studio-ai/enhancements`, which
        also offers `upscale`/`super_resolution` job types): Studio AI runs asynchronous,
        credit-billed jobs against library videos and returns a job envelope, whereas this
        endpoint synchronously super-resolves ad-hoc video bytes (or an `https` source) and
        streams the result back, billing `wave_enhance_minutes`. Use Studio AI for library
        workflows; use this endpoint for direct, pay-per-call enhancement.
      parameters:
        - name: model
          in: query
          required: false
          schema:
            type: string
            enum: [espcn]
            default: espcn
          description: AI model to apply. v1 supports only `espcn`; any other value 400s.
        - name: url
          in: query
          required: false
          schema:
            type: string
            format: uri
          description: >-
            Fetch the source video from this `https` URL instead of sending it as the request
            body. Must be publicly reachable — loopback, private, link-local, and `.local`/
            `.internal` hosts are rejected before any fetch.
      requestBody:
        required: false
        description: >-
          The source video, raw bytes. Omit the body (and use `?url=` instead) to have the source
          fetched server-side. Max 200 MiB either way.
        content:
          video/*:
            schema:
              type: string
              format: binary
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: >-
            The enhanced video, binary, streamed back with the same content-type as the source.
            Per-job receipt and billing metadata are carried on response headers, not a JSON body.
          headers:
            x-enhance-model:
              schema:
                type: string
              description: The model that ran, e.g. `espcn`.
            x-enhance-scale-factor:
              schema:
                type: number
              description: Upscale factor actually applied.
            x-enhance-input-dimensions:
              schema:
                type: string
              description: Input frame dimensions as `WIDTHxHEIGHT`, e.g. `1280x720`.
            x-enhance-output-dimensions:
              schema:
                type: string
              description: Output frame dimensions as `WIDTHxHEIGHT`, e.g. `672x672`.
            x-wave-meter:
              schema:
                type: string
              description: The meter this job billed against — `wave_enhance_minutes`.
            x-wave-usage-minutes:
              schema:
                type: integer
              description: Output-duration minutes billed for this job (rounded up).
          content:
            video/*:
              schema:
                type: string
                format: binary
        '400':
          description: >-
            Invalid request — unrecognized `model`, an unsafe or invalid `url`, or no video
            supplied (neither a request body nor `?url=`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          description: The source video (request body, or the resolved `?url=` source) exceeds the 200 MiB limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: >-
            `INPUT_TOO_LARGE` — the source video's frame dimensions exceed the v1 input-size cap.
            Downscale the source and retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '501':
          description: Enhance is not yet available in this environment (the spoke is not provisioned).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          $ref: '#/components/responses/UpstreamError'
        '503':
          description: >-
            The enhance backend is temporarily unavailable (e.g. cold-start / pool exhaustion).
            Retryable; honor the `Retry-After` header.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # AV Mux/Demux API — synchronous container-transform path (RTP H.264 video + Dante/AES67 audio).
  /av/remux:
    post:
      tags: [AV Mux/Demux]
      summary: Mux synchronized IP video + Dante audio into one container
      operationId: avRemux
      description: >-
        Synchronizes local IP video (RTP H.264) and separate Dante/AES67 audio into one sync-locked
        container stream (MPEG-TS or fMP4). Requires the `av:write` entitlement. x402-gated; billed
        per-minute (`wave_av_minutes`) plus per transform-second (`wave_av_transform_seconds`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvRemuxRequest'
      responses:
        '200':
          description: Muxed container stream — binary, or an AvTransformResult envelope under Accept application/json.
          content:
            video/mp2t:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/AvTransformResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '402':
          description: Payment required — pay the x402 challenge and retry.
          headers:
            WWW-Authenticate:
              schema:
                type: string
              description: The x402 challenge, including the quoted price.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/Forbidden'
        '501':
          description: AV mux/demux unavailable — the spoke is not provisioned (AV_ORIGIN unset).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /av/demux:
    post:
      tags: [AV Mux/Demux]
      summary: Demux one container back into separate video + Dante audio
      operationId: avDemux
      description: >-
        Inverse of `/av/remux` — splits a synchronized MPEG-TS/fMP4 container back into local IP video
        (RTP H.264 out) and Dante/AES67 audio out, preserving sub-millisecond sync. Requires the
        `av:write` entitlement. x402-gated; billed per-minute (`wave_av_minutes`) plus per
        transform-second (`wave_av_transform_seconds`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvDemuxRequest'
      responses:
        '200':
          description: Demux result — routed IP-video + Dante sink status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvTransformResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '402':
          description: Payment required — pay the x402 challenge and retry.
          headers:
            WWW-Authenticate:
              schema:
                type: string
              description: The x402 challenge, including the quoted price.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/Forbidden'
        '501':
          description: AV mux/demux unavailable — the spoke is not provisioned (AV_ORIGIN unset).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # MoQ API — join-token mint. The media session runs DIRECT to the relay (see the MoQ tag).
  /moq/publish/{ns}/{track}:
    post:
      tags: [MoQ]
      summary: Mint a MoQ publish join-token
      operationId: mintMoqPublishToken
      description: >-
        Authorizes the caller to PUBLISH to `ns`/`track` and returns a short-lived signed join-token
        (`role: publish`, `scope: moq:write`) plus the `relayWsUrl` to connect to. Requires the
        `moq:write` scope. The token is a bearer credential valid for `expiresIn` seconds — mint one
        per session immediately before connecting; do not cache or log it (the response is served
        `cache-control: no-store`). The durable API key never leaves the client. A publisher may
        declare the origin protocol of the stream it is about to publish with the
        `x-wave-declare-protocol` header so usage is billed against that protocol dimension. The
        declaration is only honoured on this publish leg, only for a recognized protocol, and only
        for orgs the operator has allowlisted; an unrecognized or unauthorized value is silently
        ignored and the session bills as plain `moq` — it never fails the mint.
      parameters:
        - $ref: '#/components/parameters/MoqNamespaceParam'
        - $ref: '#/components/parameters/MoqTrackParam'
        - name: x-wave-declare-protocol
          in: header
          required: false
          schema:
            type: string
          description: >-
            Optional declared origin protocol for billing (e.g. `moq`). Ignored unless recognized and
            authorized for this org; never rejects the mint.
      responses:
        '200':
          description: >-
            Join-token minted. Served `cache-control: no-store` — never cache or log `joinToken`.
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store` — the response carries a short-lived bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoqJoinToken'
        '400':
          description: >-
            `MOQ_JOIN_BAD_RESOURCE` — `ns` or `track` does not match `^[a-z0-9-]{1,64}$`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          $ref: '#/components/responses/MoqJoinUnconfigured'

  /moq/subscribe/{ns}/{track}:
    get:
      tags: [MoQ]
      summary: Mint a MoQ subscribe join-token
      operationId: mintMoqSubscribeToken
      description: >-
        Authorizes the caller to SUBSCRIBE to `ns`/`track` and returns a short-lived signed
        join-token (`role: subscribe`, `scope: moq:read`) plus the `relayWsUrl` to connect to.
        Requires the `moq:read` scope. Least-privilege: a subscribe token grants read only — it
        cannot be replayed to publish, and the relay re-checks the signed `ns`/`track` against the
        session it is actually opening, so a token is bound to exactly one resource.
      parameters:
        - $ref: '#/components/parameters/MoqNamespaceParam'
        - $ref: '#/components/parameters/MoqTrackParam'
      responses:
        '200':
          description: >-
            Join-token minted. Served `cache-control: no-store` — never cache or log `joinToken`.
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store` — the response carries a short-lived bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoqJoinToken'
        '400':
          description: >-
            `MOQ_JOIN_BAD_RESOURCE` — `ns` or `track` does not match `^[a-z0-9-]{1,64}$`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          $ref: '#/components/responses/MoqJoinUnconfigured'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication. Get your API key from the WAVE Developer Portal.

  parameters:
    RenderJobIdParam:
      name: jobId
      in: path
      required: true
      description: The render job id returned when the render was started asynchronously.
      schema:
        type: string
      example: 9f2c1a7e-4b3d-4c8a-9e21-6f0d5b8a1c34
    MoqNamespaceParam:
      name: ns
      in: path
      required: true
      description: >-
        MoQ namespace. Lowercase alphanumeric and dashes, 1–64 characters. The same value is bound
        into the minted token's claims and re-checked by the relay against the session it opens.
      schema:
        type: string
        pattern: '^[a-z0-9-]{1,64}$'
        minLength: 1
        maxLength: 64
      example: demo-ns
    MoqTrackParam:
      name: track
      in: path
      required: true
      description: >-
        MoQ track name within the namespace. Lowercase alphanumeric and dashes, 1–64 characters.
      schema:
        type: string
        pattern: '^[a-z0-9-]{1,64}$'
        minLength: 1
        maxLength: 64
      example: cam-1
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPageParam:
      name: perPage
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimitError:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required, or the API key / token is invalid or expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: >
        The key is valid but lacks the scope or entitlement for this operation
        (e.g. SCOPE_OVERREACH, quota tier exhausted).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PaymentRequired:
      description: >
        Payment required — the gateway answers with an x402 challenge instead of serving the
        request. **This response does NOT use the `Error` envelope.** Its `error` member is a plain
        string (`"payment required"`); the normalized WAVE error object is nested under
        `error_detail`. Complete the challenge in `accepts[0]` and retry with the `x-payment`
        header. Observed on `api.wave.online` 2026-07-25: a request with no API key AND a request
        with an unrecognized API key both receive this 402 (not a 401) on the MoQ mint routes, so a
        client must treat 402 as the ordinary "not yet authorized to pay-per-use" outcome.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequired'
    MoqJoinUnconfigured:
      description: >
        `MOQ_JOIN_UNCONFIGURED` — the mint is fail-closed and the signing secret is not provisioned
        in this environment. The gateway will never mint an unsigned or empty-key token. Not
        retryable by the caller; it clears when an operator provisions the secret.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UpstreamError:
      description: >
        An upstream capability provider (e.g. the speech engine) failed. The
        gateway interprets the failure and returns this normalized WAVE error
        instead of the raw upstream response, so the caller always sees a stable
        shape it can act on.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      description: >
        WAVE-normalized error envelope returned by the api.wave.online gateway.
        Upstream provider, auth, and quota failures are *interpreted* into this
        single shape — raw upstream errors (stack traces, vendor SDK objects) are
        never leaked to the caller. `error.code` is a stable machine-readable code
        (e.g. AUTH_REQUIRED, SCOPE_OVERREACH, RATE_LIMIT_EXCEEDED, UPSTREAM_ERROR);
        `error.message` is human-readable.
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Stable machine-readable error code.
            message:
              type: string
              description: Human-readable explanation, safe to surface to end users.
            details:
              type: object
              additionalProperties: true
              description: >
                Optional structured context (e.g. failing field, retry limit,
                requested scopes) — never raw upstream payloads.
            suggestions:
              type: array
              description: >
                Actionable next steps, ordered most→least likely to resolve the
                error. Written to be acted on by a human OR an agent.
              items:
                type: string
            did_you_mean:
              type: array
              description: >
                Closest valid alternatives when the caller likely made a typo or
                wrong choice (e.g. an unknown scope, product, or route).
              items:
                type: string
            doc_url:
              type: string
              format: uri
              description: Documentation link for this error.

    Pagination:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items: {}
        pagination:
          $ref: '#/components/schemas/Pagination'

    JobStatus:
      type: string
      enum: [pending, processing, completed, failed, cancelled]

    Attestation:
      type: object
      description: >
        WAVE Attestation envelope — a signed, verifiable record of exactly what a
        capability DID. This is NOT a financial receipt: customer payment receipts
        and invoices live in the billing domain (`Invoice`); an Attestation proves
        platform behaviour, not money owed. One shape, three instances: the Render
        Attestation, the Settlement Attestation (proof an x402 spend executed), and
        the Context Attestation. The bytes that are signed and verified are the
        *canonical* JSON of `attestation` (sorted keys, no whitespace), so any
        verifier reproduces exactly what the signer signed.
      required: [schema, attestation, alg]
      properties:
        schema:
          type: string
          description: Attestation payload schema id + version (matches the payload's own `schema_version`).
          examples: [wave.context-attestation/v0]
        attestation:
          type: object
          description: >
            The attested facts — one of the instance payload schemas (e.g.
            `#/components/schemas/ContextAttestation`).
          additionalProperties: true
        sig:
          type: [string, 'null']
          description: >
            Detached signature over the canonical JSON of `attestation`, encoded
            per `alg`, or null when unsigned (`alg: none`).
        alg:
          type: string
          description: >
            Signature algorithm (e.g. `ed25519`). `none` means the attestation is
            honestly unsigned; a present signature is trusted ONLY when a verifier
            confirms it over the canonical body — a signature that cannot be
            checked is never trusted.
          examples: [ed25519, none]
      allOf:
        # alg and sig MUST agree — making "signed but unsigned" un-representable:
        # unsigned  <=> alg == "none" AND sig == null
        # signed    <=> a concrete alg AND a present string sig
        # (the engine enforces this in attestation.envelope; the schema mirrors it
        # so a client can never read alg != "none" and then find sig absent/null.)
        - if:
            properties:
              alg: {const: none}
          then:
            properties:
              sig: {type: 'null'}
          else:
            required: [sig]
            properties:
              sig: {type: string}

    ContextAttestation:
      type: object
      description: >
        Proof of exactly what context a single model invocation was given — the
        Context Integrity instance of the WAVE Attestation standard. Travels as the
        `attestation` payload of an `Attestation` envelope
        (`schema: wave.context-attestation/v0`). The platform measures the window
        each model REALLY serves (not the advertised one) and either fits the
        prompt, routes up to a bigger window, or refuses — it never silently
        front-truncates.
      required:
        [model, served_window, effective_window, input_tokens, decision_kind, truncated, ts, schema_version]
      properties:
        model:
          type: string
          description: Target model identifier.
        served_window:
          type: integer
          description: >
            The context window the model ACTUALLY served, as measured by the Fleet
            Probe — not the advertised window. Trusting the measured value over the
            advertised one is the guarantee this attestation makes.
        effective_window:
          type: integer
          description: >
            Window available for input after carving out reserved output headroom,
            chat-template overhead, and tool/MCP schema tokens.
        input_tokens:
          type: integer
          description: >
            Conservative estimate of the prompt's input tokens (chars/token margin
            biased to never under-count).
        decision_kind:
          type: string
          enum: [fit, route_up, refuse]
          description: >
            The Truncation Guard's decision: `fit` (prompt fits), `route_up`
            (escalate to a bigger window), or `refuse` (loud — chunk or raise the
            window). Never silently truncates.
        truncated:
          type: boolean
          description: >
            True only if a downstream stage forced a truncation the guard would
            have refused. Normally false.
        ts:
          type: string
          format: date-time
          description: ISO-8601 timestamp of the decision.
        schema_version:
          type: string
          description: Payload schema version (equals the envelope `schema`).
          examples: [wave.context-attestation/v0]

    RenderAttestation:
      type: object
      description: >
        WAVE Render Attestation v1 — the subject payload carried inside an `Attestation`
        envelope for `kind: render`. Attests that a specific renderer produced a specific
        output from a specific scene. The content-addressed envelope ID is derived from
        the canonical serialization of these fields (see `attestation/ATTESTATION-STANDARD-v1.md`).
      required:
        [v, kind, renderer, scene_sha256, output_sha256, format, bytes]
      properties:
        v:
          type: string
          maxLength: 64
          description: Version string. Equals the outer envelope `v` field.
          examples: ['wave.render-attestation/v1']
        kind:
          type: string
          const: render
          description: Always `"render"` for this payload type.
        renderer:
          type: string
          description: >
            Renderer identifier in `name@version/runtime` format, e.g.
            `wave-video@0.3.0/kernel`. Used to identify which build produced the output.
        scene_sha256:
          type: string
          pattern: '^[0-9a-f]{64}$'
          description: SHA-256 hex of the canonical scene input (the Brief or Scene IR).
        output_sha256:
          type: string
          pattern: '^[0-9a-f]{64}$'
          description: SHA-256 hex of the rendered output bytes.
        format:
          type: string
          enum: [mp4, alpha]
          description: Output container/codec family.
        bytes:
          type: integer
          minimum: 0
          description: Byte length of the rendered output.

    WaveAttestation:
      description: >
        Top-level wire envelope for any WAVE Attestation v1. Carried as the
        `wave.attestation` OTLP span attribute (JSON string) and stored in the
        `observability.attestation` table. The `id` is content-addressed:
        `sha256hex(canonicalJson(attestationSubject(envelope)))`.
        Invariant: `alg === "none"` ⟺ `sig === null`.
        See `attestation/ATTESTATION-STANDARD-v1.md` for the normative specification.
      type: object
      required: [id, kind, v, subject, alg]
      properties:
        id:
          type: string
          pattern: '^[0-9a-f]{64}$'
          description: >
            Content-addressed ID: `sha256hex(canonicalJson(attestationSubject(envelope)))`.
            Stable across cache replays; upserts are idempotent by this key.
        kind:
          type: string
          enum: [render, context, settlement]
          description: Attestation kind.
        v:
          type: string
          maxLength: 64
          description: Version string, e.g. `wave.render-attestation/v1`.
        subject:
          type: object
          description: "Kind-specific payload. For `kind: render`, see `RenderAttestation`."
          additionalProperties: true
        alg:
          type: string
          maxLength: 32
          description: Signature algorithm. `"ed25519"` or `"none"`.
          examples: [ed25519, none]
        sig:
          type: [string, 'null']
          maxLength: 2048
          description: >
            Base64url-encoded Ed25519 signature over `canonicalJson(subject)` bytes.
            `null` when `alg` is `"none"`.
        created:
          oneOf:
            - type: integer
              description: Unix seconds.
            - type: string
              maxLength: 40
              description: ISO 8601 timestamp or unix seconds as string.
          description: When the attestation was minted.
      allOf:
        - if:
            properties:
              alg: {const: none}
          then:
            properties:
              sig: {type: 'null'}
          else:
            required: [sig]
            properties:
              sig: {type: string}

    # Clip schemas
    Clip:
      type: object
      properties:
        id:
          type: string
        videoId:
          type: string
        startTime:
          type: number
        endTime:
          type: number
        duration:
          type: number
        title:
          type: string
        description:
          type: string
        score:
          type: number
        category:
          type: string
        thumbnailUrl:
          type: string
          format: uri
        previewUrl:
          type: string
          format: uri
        status:
          $ref: '#/components/schemas/JobStatus'
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ClipCreate:
      type: object
      required: [videoId, startTime, endTime]
      properties:
        videoId:
          type: string
        startTime:
          type: number
        endTime:
          type: number
        title:
          type: string
        description:
          type: string
        category:
          type: string

    ClipUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        startTime:
          type: number
        endTime:
          type: number

    ClipDetectRequest:
      type: object
      required: [videoId]
      properties:
        videoId:
          type: string
        minDuration:
          type: number
          default: 5
        maxDuration:
          type: number
          default: 60
        categories:
          type: array
          items:
            type: string
        sensitivity:
          type: number
          minimum: 0
          maximum: 1
          default: 0.5
        maxClips:
          type: integer

    DetectionJob:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        progress:
          type: integer
        createdAt:
          type: string
          format: date-time

    # Voice schemas
    Voice:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        previewUrl:
          type: string
          format: uri
        category:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string

    VoiceGeneration:
      type: object
      properties:
        id:
          type: string
        voiceId:
          type: string
        text:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        audioUrl:
          type: string
          format: uri
        alignment:
          $ref: '#/components/schemas/VoiceAlignment'
        duration:
          type: number
        characterCount:
          type: integer
        model:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    VoiceAlignment:
      type: object
      description: >
        Character-level timing for the generated audio, present only when the
        request set `timestamps: true`. A direct passthrough of the engine's
        alignment, so clients can render karaoke highlighting and derive caption
        cues. The three arrays are parallel (same length, always present together).
        Property names are snake_case because this is a verbatim passthrough of the
        speech engine's alignment, which downstream caption/karaoke consumers parse
        by these exact keys.
      required: [characters, character_start_times_seconds, character_end_times_seconds]
      properties:
        characters:
          type: array
          items:
            type: string
        character_start_times_seconds:
          type: array
          items:
            type: number
        character_end_times_seconds:
          type: array
          items:
            type: number

    VoiceSynthesisInline:
      type: object
      description: >
        Synchronous voice synthesis result returned inline in a single round-trip.
        Used when `timestamps: true`, so the caller receives audio and character-level
        `alignment` together with no polling — the shape the blog karaoke/caption
        pipeline consumes. When timestamps are not requested the gateway may instead
        return raw audio bytes (audio/mpeg) or an async VoiceGeneration job.
      required: [audio_base64]
      properties:
        audio_base64:
          type: string
          format: byte
          description: Base64-encoded audio payload (container/codec per `outputFormat`).
        alignment:
          $ref: '#/components/schemas/VoiceAlignment'
        format:
          type: string
          description: Audio container/codec of the decoded bytes (e.g. mp3_44100_128).

    VoiceGenerateRequest:
      type: object
      required: [voiceId, text]
      properties:
        voiceId:
          type: string
        text:
          type: string
        stability:
          type: number
          minimum: 0
          maximum: 1
          default: 0.5
        similarityBoost:
          type: number
          minimum: 0
          maximum: 1
          default: 0.75
        style:
          type: number
          minimum: 0
          maximum: 1
          default: 0
        model:
          type: string
          default: eleven_multilingual_v2
        outputFormat:
          type: string
          default: mp3_44100_128
        timestamps:
          type: boolean
          default: false
          description: >
            When true, the resulting VoiceGeneration includes character-level
            `alignment` (start/end times) so clients can render karaoke highlighting
            and derive caption cues. Backed by the engine's with-timestamps mode.

    VoiceCloneRequest:
      type: object
      required: [name, audioFiles]
      properties:
        name:
          type: string
        audioFiles:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          maxItems: 25
        description:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string

    # Caption schemas
    CaptionJob:
      type: object
      properties:
        id:
          type: string
        videoId:
          type: string
        sourceLanguage:
          type: string
        targetLanguages:
          type: array
          items:
            type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        progress:
          type: integer
        outputs:
          type: object
          additionalProperties:
            type: string
        errorMessage:
          type: string
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CaptionJobCreate:
      type: object
      required: [videoId]
      properties:
        videoId:
          type: string
        sourceLanguage:
          type: string
          default: en
        targetLanguages:
          type: array
          items:
            type: string
        style:
          type: string
          default: default
        speakerLabels:
          type: boolean
          default: false

    # Chapter schemas
    Chapter:
      type: object
      properties:
        id:
          type: string
        videoId:
          type: string
        title:
          type: string
        description:
          type: string
        startTime:
          type: number
        endTime:
          type: number
        thumbnailUrl:
          type: string
          format: uri

    ChapterCreate:
      type: object
      required: [title, startTime, endTime]
      properties:
        title:
          type: string
        description:
          type: string
        startTime:
          type: number
        endTime:
          type: number

    ChapterDetectRequest:
      type: object
      properties:
        minDuration:
          type: number
          default: 30
        maxChapters:
          type: integer
        includeDescriptions:
          type: boolean
          default: true
        includeThumbnails:
          type: boolean
          default: true

    # Editor schemas
    EditorProject:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
        duration:
          type: number
        resolution:
          type: string
        frameRate:
          type: number
        thumbnailUrl:
          type: string
          format: uri
        exportUrl:
          type: string
          format: uri
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    EditorProjectCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        resolution:
          type: string
          default: '1920x1080'
        frameRate:
          type: number
          default: 30
        aspectRatio:
          type: string
          default: '16:9'

    EditorProjectUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    ExportRequest:
      type: object
      properties:
        format:
          type: string
          enum: [mp4, webm, mov]
          default: mp4
        resolution:
          type: string
        quality:
          type: string
          enum: [low, medium, high, ultra]
          default: high

    ExportJob:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        progress:
          type: integer
        outputUrl:
          type: string
          format: uri

    # Phone schemas
    PhoneLine:
      type: object
      properties:
        id:
          type: string
        number:
          type: string
        name:
          type: string
        status:
          type: string
        capabilities:
          type: array
          items:
            type: string
        monthlyCost:
          type: number
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PhoneLineProvision:
      type: object
      properties:
        areaCode:
          type: string
        country:
          type: string
          default: US
        capabilities:
          type: array
          items:
            type: string
            enum: [voice, sms, mms, fax]
        name:
          type: string

    Call:
      type: object
      properties:
        id:
          type: string
        lineId:
          type: string
        direction:
          type: string
          enum: [inbound, outbound]
        fromNumber:
          type: string
        toNumber:
          type: string
        status:
          type: string
        duration:
          type: integer
        recordingUrl:
          type: string
          format: uri
        transcript:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CallCreate:
      type: object
      required: [fromLineId, toNumber]
      properties:
        fromLineId:
          type: string
        toNumber:
          type: string
        record:
          type: boolean
          default: false
        transcribe:
          type: boolean
          default: false
        webhookUrl:
          type: string
          format: uri

    # Collab schemas
    CollabRoom:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [video, audio, whiteboard, screen]
        status:
          type: string
          enum: [waiting, active, ended]
        maxParticipants:
          type: integer
        currentParticipants:
          type: integer
        scheduledStart:
          type: string
          format: date-time
        joinUrl:
          type: string
          format: uri
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CollabRoomCreate:
      type: object
      required: [name, type]
      properties:
        name:
          type: string
        type:
          type: string
          enum: [video, audio, whiteboard, screen]
        maxParticipants:
          type: integer
          default: 10
        scheduledStart:
          type: string
          format: date-time
        settings:
          type: object

    # Podcast schemas
    PodcastShow:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        coverUrl:
          type: string
          format: uri
        rssUrl:
          type: string
          format: uri
        category:
          type: string
        language:
          type: string
        explicit:
          type: boolean
        episodeCount:
          type: integer
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PodcastShowCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        language:
          type: string
          default: en
        explicit:
          type: boolean
          default: false
        coverUrl:
          type: string
          format: uri

    PodcastEpisode:
      type: object
      properties:
        id:
          type: string
        showId:
          type: string
        title:
          type: string
        description:
          type: string
        audioUrl:
          type: string
          format: uri
        duration:
          type: number
        episodeNumber:
          type: integer
        seasonNumber:
          type: integer
        publishedAt:
          type: string
          format: date-time
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PodcastEpisodeCreate:
      type: object
      required: [title, audioUrl]
      properties:
        title:
          type: string
        description:
          type: string
        audioUrl:
          type: string
          format: uri
        episodeNumber:
          type: integer
        seasonNumber:
          type: integer
        publishedAt:
          type: string
          format: date-time

    # Studio AI schemas
    Enhancement:
      type: object
      properties:
        id:
          type: string
        videoId:
          type: string
        type:
          type: string
          enum: [upscale, denoise, stabilize, color_correct, super_resolution]
        status:
          $ref: '#/components/schemas/JobStatus'
        progress:
          type: integer
        inputUrl:
          type: string
          format: uri
        outputUrl:
          type: string
          format: uri
        settings:
          type: object
        creditsUsed:
          type: integer
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    EnhancementCreate:
      type: object
      required: [videoId, type]
      properties:
        videoId:
          type: string
        type:
          type: string
          enum: [upscale, denoise, stabilize, color_correct, super_resolution]
        settings:
          type: object
        priority:
          type: string
          enum: [low, normal, high]
          default: normal

    EnhancementPreviewRequest:
      type: object
      required: [videoId, type]
      properties:
        videoId:
          type: string
        type:
          type: string
        timestamp:
          type: number
          default: 0
        settings:
          type: object

    # Transcription schemas
    Transcription:
      type: object
      properties:
        id:
          type: string
        sourceId:
          type: string
        sourceType:
          type: string
          enum: [video, audio]
        status:
          $ref: '#/components/schemas/JobStatus'
        language:
          type: string
        text:
          type: string
        duration:
          type: number
        wordCount:
          type: integer
        confidence:
          type: number
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    TranscriptionCreate:
      type: object
      required: [sourceId, sourceType]
      properties:
        sourceId:
          type: string
        sourceType:
          type: string
          enum: [video, audio]
        language:
          type: string
        speakerLabels:
          type: boolean
          default: false
        wordTimestamps:
          type: boolean
          default: false
        punctuation:
          type: boolean
          default: true
        model:
          type: string
          default: default

    # Sentiment schemas
    SentimentAnalysis:
      type: object
      properties:
        id:
          type: string
        sourceId:
          type: string
        sourceType:
          type: string
          enum: [video, audio, text, chat]
        status:
          $ref: '#/components/schemas/JobStatus'
        overallSentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        overallScore:
          type: number
        confidence:
          type: number
        summary:
          type: string
        organizationId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SentimentAnalysisCreate:
      type: object
      required: [sourceId, sourceType]
      properties:
        sourceId:
          type: string
        sourceType:
          type: string
          enum: [video, audio, text, chat]
        text:
          type: string
        includeEmotions:
          type: boolean
          default: false
        includeTopics:
          type: boolean
          default: false
        includeSummary:
          type: boolean
          default: false
        segmentAnalysis:
          type: boolean
          default: false

    EmotionBreakdown:
      type: object
      properties:
        joy:
          type: number
        sadness:
          type: number
        anger:
          type: number
        fear:
          type: number
        surprise:
          type: number
        disgust:
          type: number
        trust:
          type: number
        anticipation:
          type: number

    TopicSentiment:
      type: object
      properties:
        topic:
          type: string
        sentiment:
          type: string
          enum: [positive, negative, neutral]
        score:
          type: number
        mentions:
          type: integer
        keywords:
          type: array
          items:
            type: string

    # Search schemas
    SearchResult:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [video, clip, chapter, transcript, episode]
        title:
          type: string
        description:
          type: string
        thumbnailUrl:
          type: string
          format: uri
        url:
          type: string
          format: uri
        score:
          type: number
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/SearchHighlight'
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time

    SearchHighlight:
      type: object
      properties:
        field:
          type: string
        snippet:
          type: string
        positions:
          type: array
          items:
            type: object
            properties:
              start:
                type: integer
              end:
                type: integer

    SearchRequest:
      type: object
      required: [query]
      properties:
[...]
